ul, ol, li, p, h1,h2,h3,h4,h5{
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5{
  color: #333E4F;
}

#doc-detail-content{
  color: #354052;
  font-family:  'Microsoft YaHei', 'SimSun';
}

/* paragraph css style start */
#content .paragraph{
  font-size: 1.4rem;
  line-height: 24px;
  margin-bottom: 12px;
}
#content p{
  line-height: 24px;
}
/* paragraph css style end */

/* em css style start */
#content p em{
  background: yellow;
  line-height: inherit;
}
/* en css style end */

/* img css style start */
#content .imageblock img{
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}
#content .image img{
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}
/* img css style end */

/* link css style start */
#content a{
  color: #2156a5;
  text-decoration: underline;
  line-height: inherit;
  background: transparent;
  cursor: pointer;
}
/* link css style end */

/* list css style start */
#content .olist ol{
  margin: 15px 0 15px 20px;
}
#content .olist ol li{
  line-height: 24px;
}
#content .ulist ul{
  margin: 15px 0 15px 20px;
}
#content .ulist ul li{
  list-style: disc;
  line-height: 24px;
}
/* list css style end */

/* table css style start */
#content .sectionbody table{
  border-collapse: collapse;
}
#content .sectionbody table caption.title{
  color: #7a2518;
  margin: 20px auto;
}
#content .sectionbody table tr th{
  padding: 10px 15px;
  border: solid 1px rgb(222, 222, 222);

}
#content .sectionbody table tr td{
  padding: 10px 15px;
  border: solid 1px rgb(222, 222, 222);
}
/* table css style end */

/* title css style start */
#content .sect1 h2{
  font-size: 1.8rem;
  margin: 20px auto 20px 12px;
}
#content .sect1 h2:before{
  content: '';
  display: inline-block;
  width: 4px;
  height: 16px;
  position: relative;
  top: 2px;
  right: 10px;
  background: #2481e3;
}
#content h3{
  font-size: 1.6rem;
  margin: 15px auto;
}
#content h4, #content h5{
  font-size: 1.4rem;
  margin: 10px auto;
}
/* title css style end */

/* sql highlight css style start*/
#content pre{
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
#content pre.highlight code span.tok-k{
  color: #2481e3;
}
#content pre.highlight code span.tok-n{
  color: #354052
}
#content pre.highlight code span.tok-o{
  color: rgba(0,0,0,.9);
}
#content pre.highlight code span.tok-m{
  color: #009999;
}
#content pre.highlight code span.tok-s2{
  color: #aa5500;
}
#content pre.highlight code span.tok-c1{
  color: #aaaaaa;
}
#content .literalblock pre{
  background: #f7f7f8;
}
/* sql highlight css style end*/

