<h3 class="sub-title" id="module-advantage-id">
  {{'MODULES.FUNCTION_ADVANTAGE' | translate}}
</h3>
<div
  class="details-box text"
  [ngStyle]="{'padding': '50px 20px 50px 20px'}"
>
  <ul class="text-list">
    <li
      *ngFor="let item of productAdvantage.items"
      [ngStyle]="{'padding-left': 0}"
      [ngClass]="{'h5-title': item.type === 'title'}"
    >
      <h5 *ngIf="item.type === 'title'">
        {{item.content | translate}}
      </h5>
      <p
        *ngIf="item.type === 'text'"
        [ngClass]="{'padding': 0}"
      >
        {{item.content | translate}}
      </p>
    </li>
  </ul>
</div>

