
<!-- <div class="details-box text"> -->
<div class="details-box"
	[ngClass]="{'details-box': true, 'text': !data.image}"
>
	<ul
		class="paragraphs fl"
		[ngStyle]="{'width': 882 - (data.image?data.image.width : 0) + 'px'}">
		<li>
			<p>{{data.text}}</p>
		</li>
	</ul>
	<div *ngIf="data.image"
		class="img fl multi-tenancy-platform"
		[ngStyle]="{'background-image':'url(' + data.image.src + ')',
								'width': data.image.width +'px',
								'height': + data.image.height +'px'}">
	</div>
</div>
