@import "../../../styles/util"
@include clearfix

$tree-head-height: 60px
$tree-footer-height: 80px
$search-panel-head-height: 87px
$pagination-area-height: 60px
$search-panel-min-height: calc(100vh - #{$top-nav-height + $crumb-height})
$tree-height: calc(100vh - #{$top-nav-height + $crumb-height + $tree-head-height + $tree-footer-height})
$docs-list-min-height: calc(100vh - #{$top-nav-height + $crumb-height + $search-panel-head-height + $pagination-area-height})

.docs-search
  background-color: $common-bg-color
  width: 1200px
  margin: 0 auto

  .breadcrumb
    position: fixed

.search-panel
  margin-top: $top-nav-height + $crumb-height
  min-height: $search-panel-min-height

  .panel-left
    width: 250px
    background-color: #fff
    border-top-right-radius: 4px
    position: fixed

    .filter, .tree, .operation
      padding: 0 0 0 20px

    .filter
      width: 100%
      height: 60px
      border-bottom: 1px solid $common-grey

      span
        position: relative
        top: 35px

    .tree
      overflow: auto
      height: $tree-height

    .operation
      height: 80px
      line-height: 80px

      button
        height: 30px
        width: 100px
        background-color: $common-blue
        border-radius: 4px
        border: none
        color: #fff

      button:first-child
        margin-right: 10px

  .panel-right

    margin: 0 20px 0 270px
    padding: 30px 40px 10px 20px
    background-color: #fff
    border-radius: 4px
    min-height: inherit
    position: relative

    .search-docs
      height: 32px

      .search .search-field
        height: 30px
        border: 1px solid $common-grey

      .search .search-btn
        height: 30px

    .docs-list
      min-height: $docs-list-min-height

    .tcc-pagination

      justify-content: flex-end
      margin-top: 20px








