@import "../../../styles/util"
@import "../common/style/document.layout"

.filter-tree

  .filter
    border-bottom: 1px solid $common-grey

    span
      position: relative
      top: 25px

  .tree
    overflow-x: hidden
    overflow-y: auto
    height: $tree-height-filter

  .operation
    padding-left: 20px
    height: 80px
    line-height: 80px

    button
      height: 30px
      width: 100px
      background-color: $common-blue
      border-radius: 4px
      border: none
      color: #fff

    button:first-child
      margin-right: 10px

.filter-result
  padding: 30px 40px 10px 20px

  .search-docs
    height: 32px

    .search .search-field
      height: 30px
      border: 1px solid $common-grey

    .search .search-btn
      height: 30px

  .docs-list
    min-height: $docs-list-min-height

  .tcc-pagination

    justify-content: flex-end //remove after remove flex layout in pagination component
    margin-top: 20px








