<div
  *ngFor="let docsItem of docsFolderList"
  class="doc-type"
>
  <div class="doc-title clearfix">
    <div class="title-name">
      <span>{{docsItem.name}}</span>
    </div>
    <tcc-select
      name="tccSelect"
      key="alias"
      [(ngModel)]="docsItem.currentVersion"
    >
      <tcc-select-option
        *ngFor="let option of docsItem.versionList"
        [value]="option"
      >
        {{option.name}}
      </tcc-select-option>
    </tcc-select>
  </div>
  <div class="doc-list">
    <div
      class="doc-item clearfix"
      (click)="viewDocDetail(docsItem, doc)"
      *ngFor="let doc of docsItem.docsCollection[docsItem.currentVersion.name]"
    >
      <span class="title-tag text-ellipsis">{{doc.name}}</span>
      <svg tccIcon="enter" size='md'></svg>
    </div>
  </div>
</div>
