@import "../../../../../styles/util"
@include clearfix

.doc-type
  width: 25%
  float: left
  padding: 2.5rem 3rem

.doc-title
  height: 2.8rem
  line-height: 2.8rem

  .title-name
    display: inline-block
    float: left
    height: 100%
    span
      display: inline-block
    span:first-child
      height: 1rem
      border-left: 3px solid $common-blue
      margin-right: 1rem

  tcc-select
    float: right
    width: 11rem
    height: 100%

.doc-list
  margin-top: 1.5rem
  .doc-item
    margin: 0 0 1rem 2rem
    padding: 0 1rem
    height: 4.5rem
    line-height: 4.5rem
    border-radius: 0.4rem
    border: solid 1px $common-grey
    &:hover
      cursor: pointer
      color: $common-blue
      svg
        visibility: visible

    span
      float: left

    svg
      float: right
      margin-top: 1.5rem
      visibility: hidden



