@import "../../../common/style/document-list.layout"

.doc-type
  width: 25%
  float: left
  padding: 25px 30px

.doc-title
  height: 28px
  line-height: 28px

  .title-name
    display: inline-block
    float: left
    height: 100%

    @include title-tag

  .tcc-select
    float: right
    width: 90px
    height: 100%
