@import '../common/style/layout'
@import '../common/style/products.layout'

.products-details
  min-height: 2000px
  background: transparent url("/assets/images/products/banner-bg.png") repeat-x left top
  background-size: auto 350px











