\:host
  width: 100%
  display: flex
  justify-content: center

\:host()
  display: block
  margin: 2rem

h1
  margin-bottom: 3rem

.container
  display: flex

ul.nav
  padding-right: 1rem
  width: 10rem

  li
    margin-bottom: 1rem

    a.active
      font-weight: bold

\:host /deep/
  ng-component
    flex: 1

  h2
    margin-top: 0

  section
    margin-bottom: 1rem
