<div class="product-tab-title">
  <span>{{'MODULES.PRODUCT_FUNCTION' | translate}}</span>
</div>
<div class="product-tab-content">
  <img
    *ngIf="introduceIncludeImg"
    tccImgSrc="{{productIntroduce.img.url | translate}}"
    [ngStyle]="{'width': productIntroduce.img.width, 'height':productIntroduce.img.height}"
  />
  <ul>
    <li
      *ngFor="let item of productIntroduce.items"
      [ngClass]="{'chapter':item.chapter, 'paragraph':item.paragraph, 'indent':item.indent}"
    >
      {{item.content | translate}}
    </li>
  </ul>
</div>

