@import '../../../../styles/util'

ul
  @include clearfix
  height: 5rem
  line-height: 5rem
  width: 100%
  padding: 0 2rem
  li
    float: left
  a.link, span
    color: $tdcCommonBlue
  span
    margin: 0 0.5rem



