<div *ngFor="let type of treeModel">
  <div class="module-type" (click)="toggle(type)">
    <svg tccIcon="angle-up" size="sm" [class.expanded]="type.expanded"></svg>
    <span class="type-name">{{type.name}}</span>
  </div>
  <div class="module-list" [class.expanded]="type.expanded">
    <div
      *ngFor="let module of type.children"
      class="module-list-item"
    >
      <div class="module-item">
        <svg
          *ngIf="module.children.length > 0"
          tccIcon="angle-up" size="sm"
          [class.expanded]="module.expanded"
          (click)="toggle(module)"
        ></svg>
        <tcc-checkbox
          [(ngModel)]="module.selected"
          (ngModelChange)="selectChange(type, module)"
        ></tcc-checkbox>
        <span>{{module.name}}</span>
      </div>

      <div
        class="module-version"
        [class.expanded]="module.expanded"
        *ngFor="let version of module.children"
      >
        <tcc-checkbox
          [(ngModel)]="version.selected"
          (ngModelChange)="selectChange(type, module, version)"
        ></tcc-checkbox>
        <span>{{version.name}}</span>
      </div>
    </div>
  </div>
</div>
