<div class="tdh-platform-products intro-table">
	<div class="row">
		<span class="title">Inceptor</span>
		<span class="ctn">
		Inceptor是一款用于批量处理及分析的数据库。它支持SQL 2003标准、Oracle PL/SQL以及DB2 SQL PL，对Oracle、DB2以及Teradata 都有很好的方言支持，是Hadoop领域对SQL标准支持最完善的产品。
		</span>
		<span class="anchor">
			<a class="more">了解更多&nbsp;→</a>
		</span>
	</div>
	<div class="row">
		<span class="title">Guardian</span>
		<span class="ctn">
		Guardian为TDH提供集中的安全和资源管理服务。它支持LDAP和Kerberos，保护Hadoop集群免受恶意攻击和安全威胁，而且还可以对资源做细粒度的ACL控制。多租户资源管理模块可以按照租户的方式管理资源，并通过一个图形化工具为用户提供权限配置以及资源配置接口。
		</span>
		<span class="anchor">
			<a class="more">了解更多&nbsp;→</a>
		</span>
	</div>
	<div class="row">
		<span class="title">Hyperbase</span>
		<span class="ctn">
		Hyperbase是以Apache HBase为基础，融合多项创新技术的NoSQL数据库: 它采用了和Inceptor同样的SQL引擎，允许开发者们直接 用SQL构建复杂应用; 支持全局索引和次级索引，实现高速的非主键查询; 提供原生的JSON/BSON格式支持以及对象存储(Object Store) 技术，极大地简化了非结构化数据处理。
		</span>
		<span class="anchor">
			<a class="more">了解更多&nbsp;→</a>
		</span>
	</div>
	<div class="row">
		<span class="title">Hadoop</span>
		<span class="ctn">
Hadoop Distributed File System (HDFS) — Apache Hadoop 项目的一个子项目 — 是一个高度容错的分布式文件系统，设计用于在低成本硬件上运行。HDFS 提供高吞吐量应用程序数据访问功能，适合带有大型数据集的应用程序。
		</span>
		<span class="anchor">
			<a class="more">了解更多&nbsp;→</a>
		</span>
	</div>
</div>