<div class="search-box">
  <docs-search
    (onDocumentSearch)="documentSearch($event)"
  ></docs-search>
	<div class="documents-options">
		<span>
      <a
        routerLink="/documents-support/docs/products"
        routerLinkActive="active"
        routerLinkActiveOptions="{exact: true}"
        class="products-docs"
      >
        {{'DOCUMENTS.PRODUCT_DOCUMENT' | translate}}
      </a>
		</span>
		<span>
      <a
        routerLink="/documents-support/docs/issues"
        routerLinkActive="active"
        routerLinkActiveOptions="{exact: true}"
        class="normal-issues"
      >
        {{'DOCUMENTS.NORMAL_ISSUE' | translate}}
      </a>
		</span>
		<span>
      <a
        routerLink="/documents-support/docs/guides"
        routerLinkActive="active"
        routerLinkActiveOptions="{exact: true}"
        class="fresh-guides"
      >
        {{'DOCUMENTS.FRESH_GUIDE' | translate}}
      </a>
		</span>
	</div>
</div>
<router-outlet></router-outlet>
