@import '../common/style/layout'
@import '../../styles/util'
@include clearfix

.search-box
  width: 100%
  background-color: #00143E

.box-content
	min-height: calc(100vh - #{$nav-height})
	padding: 160px
	background: url(/assets/images/search/index-bg.jpg) no-repeat center center

	.documents-options
		padding-top: 110px
		width: 820px
		height: 95px
		margin-left: auto
		margin-right: auto

		div
			float: left
			width: 270px
			height: 95px
			text-align: center

  svg
    width: 60px
    height: 60px
    &:hover
      position: relative
      top: -5px
      cursor: pointer
    &:active
      outline: none

  span
    display: block
    width: 100%
    color: #fff
    margin-top: 10px




