@import '../common/style/layout'
@import '../../styles/util'

\:host
  @extend .center-box

.cursor：hover
	cursor: pointer

.search-box
	min-height: calc(100vh - #{$nav-height})
	padding: 160px
	background: url(/assets/images/search/index-bg.jpg) no-repeat center top
    size: cover

	.documents-options
		padding-top: 110px
		width: 820px
		height: 95px
		margin-left: auto
		margin-right: auto

		span
			display: inline-block
			float: left
			width: 270px
			height: 95px
			font-size: 1.6rem
			font-weight: 400
			text-align: center
			color: #fff
			position: relative
			a
				display: inline-block
				width: 60px
				background: url(/assets/images/search/icon-docs-supports.png) no-repeat
				position: absolute
				left: 50%
				top: 0
				margin-left: -30px
				text-indent: -.4rem
				padding-top: 72px
				&:hover
					cursor: pointer
					top: -5px
		.products-docs
			background-position: left top

		.normal-issues
			background-position: -63px top

		.fresh-guides
			background-position: -63px top


