<div class="search-box">
  <div class="box-content">
    <docs-search
      (onDocumentSearch)="documentSearch($event)"
    ></docs-search>
    <div class="documents-options clearfix">
      <div class="products-docs">
        <svg
          tccIcon="product-doc"
          routerLink="/documents-support/docs/products"
        ></svg>
        <span>{{'DOCUMENTS.PRODUCT_DOCUMENT' | translate}}</span>

      </div>
      <div class="normal-issues">
        <svg
          tccIcon="normal-issue"
          routerLink="/documents-support/docs/issues"
        ></svg>
        <span>{{'DOCUMENTS.NORMAL_ISSUE' | translate}}</span>
      </div>
      <div class="fresh-guides">
        <svg
          tccIcon="normal-issue"
          routerLink="/documents-support/docs/guides"
        ></svg>
        <span>{{'DOCUMENTS.FRESH_GUIDE' | translate}}</span>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
