@import '../../styles/util'

\:host
  .panel-left
    position: absolute
    width: 21.4rem
  .slide-back
    width: 100%
    height: 3rem
    padding: 0 0.5rem
    background-color: #f2f3f7
    svg
      fill: #305ab5
      position: relative
      top: 50%
      transform: translateY(-50%)
    svg:first-child
      float: left
    svg:last-child
      float: right



