<div class="tdh-platform-products intro-table">
	<div class="row">
		<span class="title">Workflow</span>
		<span class="ctn">
		Workflow是一个图形化的工作流设计、调试、调度和分析的服务平台，它支持Shell、SQL、JDBC、HTTP等任务类型，也可以写自定义Java任务。它还提供丰富的分析能力，如依赖关系、执行历史、甘特图等，可以帮助用户诊断工作流的执行状况。
		</span>
		<span class="anchor">
			<a class="more">了解更多&nbsp;→</a>
		</span>
	</div>
	<div class="row">
		<span class="title">Governor</span>
		<span class="ctn">
		Governor是TDH中的元数据管理和数据治理工具。可用于管理元数据(包括表和存储过程)，监控所有数据和程序的更改历史，进行数据血缘分析和影响分析。开发者还可以用它调试数据问题，追踪问题来源，并帮助数据管理者预测计划进行的元数据更改会造成的影响，Governor可帮助用户提高大数据的数据质量。
		</span>
		<span class="anchor">
			<a class="more">了解更多&nbsp;→</a>
		</span>
	</div>
	<div class="row">
		<span class="title">Transporter</span>
		<span class="ctn">
		Transporter是一款用于设计和创建ETL任务的可视化工具。它支持从RDBMS到TDH的近实时数据同步功能，用户可用Transporter将数据从RDBMS迁移到Hadoop，再进行数据分析和挖掘工作；它提供完整的数据整合功能，源系统支持多种格式的数据源（CSV、JDBC、XML、JSON、关系数据库）；支持多种常用的数据转换操作（连接、聚合、清洗等）。
		</span>
		<span class="anchor">
			<a class="more">了解更多&nbsp;→</a>
		</span>
	</div>
	<div class="row">
		<span class="title">Pilot</span>
		<span class="ctn">
		Pilot是基于Web的报表展现工具，轻量、灵活，可以快速部署。它支持多维度的分析和自助分析，提供数十种报表样式，对时序数据 也有很好的展现。此外，Pilot还支持团队协作和共享，支持导入和导出报表。
		</span>
		<span class="anchor">
			<a class="more">了解更多&nbsp;→</a>
		</span>
	</div>
</div>