<div class="tcc-input-group">
  <svg class="tcc-input-addon" *ngIf="prefix" [tccIcon]="prefix"></svg>
  <input
    [type]="type"
    placeholder="{{parsedPlaceholder | translate}}"
    [(ngModel)]="value"
    [ngClass]="{invalid: (invalid | async)}"
    [disabled]="disabled"
  >
  <svg class="tcc-input-addon" *ngIf="suffix" [tccIcon]="suffix"></svg>
</div>
<tcc-form-error
  *ngIf="model.touched && (invalid | async)"
  [validationResults]="failures | async"
  [errorMsgs]="errorMsgs"
>
</tcc-form-error>
