<div
	class="home-banner"
	[ngStyle]="{
    'background-color': currentAdv.bgColor,
    'background-image': ' url('+ currentAdv.bgUrl + ')',
    'background-repeat': 'no-repeat',
    'background-position': 'center top',
    'background-size': '1200px 565px'
  }"
>
<!--if only use "background: color url() position repeat ..., background-size. it doesn't work, so changed to separate them"-->
  <ul class="advs">
		<li 
      *ngFor="let adv of advList; let idx = index" 
      [class.active]="currentIdx==idx"
    >
			<h2>{{adv.h2}}</h2>
			<p>{{adv.p}}</p>
		</li>
  </ul>

  <a 
    *ngIf="advLength>1"
    class="arrow left" 
    (click)="goPrevious()"></a>
  <a 
    *ngIf="advLength>1"
    class="arrow right"
    (click)="goAfter()"></a>

  <ul
    *ngIf="advLength>1"
    class="crumbs">
    <li
    	*ngFor="let adv of advList; let idx=index"
    	[class.big]="currentIdx==idx">
			<span 
        (click)="setInterval(idx)"
        (mouseenter)="itemOnMouseenter(idx, $event.target)"
        (mouseleave)="itemOnMouseleave(idx, $event.target)"
        >{{idx}}</span>
		</li>
  </ul>
</div>