
<div class="video-show">
	<div class="left">
		<!-- <router-outlet></router-outlet> -->
		<div class="frame">
		  <iframe [src]="iframeSrc">
		  </iframe>
		</div>
	</div>
	<div class="right">
		<h3>{{title}}</h3>
		<p>
			<!-- {{current.summary}} -->
			{{summary}}
		</p>
	</div>
</div>

<div class="bottom">
	<tdc-slices-modules [data]="data"></tdc-slices-modules>
	
 	<!-- <div class="items-wrapper"
		[ngClass]="{'video-list': data.sliceClass==='video-list'}"
	>
		<ul
			class="ul-items "
			style="width: 2100px; left:0"
		>
			<li 
				*ngFor="let item of data.items; let idx=index;" 
				class="{{item.liClass}}" 
			>
				<a
					*ngIf="data.sliceClass==='video-list'"
					routerLink="{{item.routerLink}}"
				>
					<div class="thumbnail">
		      	<img src="{{item.thumbnail.src}}" alt="" />
		      </div>
				  <h5 class="{{item.h5Class}}">{{item.title}}</h5>
				  <p class="{{item.pClass}}">{{item.summary}}</p>
				</a>
			</li>
		</ul>
	</div> -->
</div>
