
<div class="bread-crumbs">
	<a>业务方案</a>
	<span>/</span>
	<a>数据仓库</a>
</div>
<div class="scenario-banner">
	<h2>数据仓库业务解决方案</h2>
	<p>用于构建一站式的基于 TDH 的数据仓库服务， 包括分析数据库、数据整合模型加工等需要的平台服务和工具。</p>
</div>

<div class="business-background">
	<h3>业务背景</h3>
	<div class="bg-adv-img"></div>
	<div>
		<p>随着移动互联网、云计算、物联网和大数据技术的广泛应用，现代社会已经迈入全新的大数据时代。掌握大数据资产，进行智能化决策，已成为企业胜出的关键。越来越多的企业开始重视大数据战略布局，从数据中揭示规律，了解过去、知悉现在、洞察未来，数据驱动企业运行与决策的科学性，构建智慧企业，打造核心竞争力。</p>

		<p>某国企客户拥有丰富的数据资源，海量的数据积累。在大数据时代，需要充分挖掘数据价值，跟上时代的步伐，利用大数据技术建立大数据平台，实现其数据资源的集中及整合，构建统一的数据模型，提高企业数据的处理效率与共享程度，实现对其企业内部数据和外部数据的分析挖掘，对内对外提供数据服务。为全网提供决策支持、产品创新、交叉营销、服务支撑、风险管控以及流程优化等支撑服务。原有建设的数仓应用在长期使用的过程中，能力已捉襟见肘，需要使用基于新的Hadoop架构替代原有的数仓架构和应用，实现数仓应用功能。</p>
	</div>
</div>
<div class="core-issue">
	<h3>核心问题</h3>
	<div class="bg-adv-img"></div>
	<ul>
		<li>• 在模型和SQL支持方面，该国企原量收系统模型设计原则需基于该国企的整体企业管理和业务管理的规则和流程，同时还要考虑到系统的扩展。</li>

		<li>• 该国企大数据平台汇集了其各大业务系统的历史业务数据，需要经过T+1的数据处理得到分析和计算结果进行展示。因此需要对海量数据进行存储，并提供高效的数据计算。</li>

		<li>• 该国企大数据平台经过数据处理和汇总，为其各大业务板块及各机构提供数据报表和数据查询，用户数超过5万，并发数超过2千。因此需要解决高并查询的性能和效率问题。</li>

		<li>• 各大业务板块间数据存在壁垒，共享不足，无法实现企业数据的充分有效利用。</li>

		<li>• 数据存在冗余、分散、安全性差、一致性差等问题，应建立有效的数据管控体系，打破信息孤岛、实现企业信息数据共享、提升数据价值。</li>
	</ul>
</div>
<div class="solution">
	<h3>解决方案</h3>
	<div class="bg-adv-img"></div>
	<div>
		<p>数据仓库底层的数据产品通过内存计算技术、高效索引、执行计划优化和高度容错的技术，能够处理从TB的数据，并且在数据量级上都能提供比现有技术更快的性能。</p>

		<p>通过数据分析，可构建出企业统一信息单一视图，实现结构化、半结构化和非结构化数据的统一管理和分析;跨多个系统，实现数据集成和共享，解决信息孤岛问题，形成基础数据体系，提供支撑经营管理的各类数据应用。</p>

		<p>支持离线数据分析、面向分析主题的数据仓库可提供高性能可扩展的分布式计算引擎，通过数据挖掘、计量分析和机器学习等手段，对丰富的大数据资源进行开发使用，并将数据决策化过程结合到风控、营销、营运等经营管理活动。</p>

		<p>实现了高效的企业数仓建设，在实现数据仓库的完整流程中，提供高效的工具支持，加速企业数仓的落地实现。</p>

		<p>支持使用大表交互等一系列复杂的SQL分析语法操作。同时支持多种索引，包括全局索引（Global Index）、局部索引（Local Index）、高维索引（High-dimensionalIndex）以及全文索引（Full-textIndex）等；支持通过SQL进行复杂条件毫秒级高并发查询。</p>
	</div>
</div>