@import '../../../styles/util'
@include clearfix

.doc-detail
  background-color: $tdcCommonBgColor

  .menu
    float: left
    width: 25rem
    border-radius: 0.4rem
    .go-back
      width: 100%
      height: 4rem
      line-height: 4rem
      background-color: #fff
      padding-left: 2rem
      svg
        fill: #305ab5

    .doc-name
      width: 100%
      height: 5rem
      line-height: 5rem
      padding-left: 2rem
      color: #fff
      background-color: $tdcCommonBlue

  .context
    border-radius: 0.4rem
    margin-left: 27rem
    margin-right: 1.8rem
    background-color: #fff
    padding: 4rem 2rem

