@import '../../../styles/util'
@import '../common/style/document.layout'

.doc-menu
  border-radius: 4px

  .doc-name
    width: 100%
    height: 50px
    line-height: 50px
    padding-left: 20px
    color: #fff
    background-color: #0066ce

  .tree
    overflow: auto
    background-color: #fff
    height: $tree-height-menu

.doc-detail
  padding: 30px 20px 30px 20px

