<div class="doc-support-panel">
  <document-breadcrumb
    [crumbItems]="crumbItems"
  ></document-breadcrumb>
  <div class="content-panel doc-panel">
    <div class="panel-left doc-menu">
      <div class="panel-left-header doc-name">
        {{docName}}
      </div>
      <div class="tree" id="doc-menu-tree">
        <tdc-menu-tree
          [treeModel]="treeModel"
          [treeLevel]="treeLevel"
          [treeType]="'doc-tree'"
          (onSelectChange)="onSelectChange($event)"
        ></tdc-menu-tree>
      </div>
    </div>
    <div
      id="doc-detail-content"
      class="panel-right doc-detail"
    ></div>
  </div>
</div>


