<h3 class="sub-title" id="module-introduce-id">
  {{'MODULES.MODULE_INTRODUCE' | translate}}
</h3>
<div
  class="details-box clearfix"
  [ngStyle]="{'padding': '30px 0 30px 20px'}"
>
  <div
    class="img-box fl"
    [ngStyle]="{'display': productIntroduce.img.url?'block':'none'}"
  >
    <img
      tccImgSrc="{{productIntroduce.img.url | translate}}"
      [ngStyle]="{'margin': '0 50px 20px 0'}"
    />
  </div>
  <ul
    class="text-list"
    [ngStyle]="{'margin-left': 0}"
  >
    <li
      *ngFor="let item of productIntroduce.items"
      [ngClass]="{'h5-title': item.type === 'title',
        'inline-group': item.inline_group}"
      [ngStyle]="{'padding-left': 0}"
    >
      <h6
        class="module-title"
        *ngIf="item.type === 'title'"
      >
        {{item.content | translate}}
      </h6>
      <span
        class="sub-title"
        *ngIf="item.type === 'sub-title'"
      >
        {{item.content | translate}}
      </span>
      <p
        *ngIf="item.type === 'text'"
        [ngStyle]="{'padding': 0}"
      >
        {{item.content | translate}}
      </p>
      <ul
        class="group-text"
        *ngIf="item.type === 'group-text'"
      >
        <li *ngFor="let cell of item.group">
          {{cell.content | translate}}
        </li>
      </ul>
    </li>
  </ul>
</div>

