@import '../../../common/style/products.layout'

.text-list

  .intent
    padding-left: 1rem

  ul.group-text
    padding-left: 30px
    > li
      padding-left: 0
      margin-bottom: 10px
      list-style-type: disc

    > li:last-child
      margin-bottom: 20px

  span.sub-title
    display: block
    font-size: 1.4rem
    margin-bottom: 10px
