@import '../../../common/style/products.layout'

.text-list

  ul.group-text
    padding-left: 30px
    margin-bottom: 20px
    > li
      padding-left: 0
      margin-bottom: 10px
      list-style-type: disc

  span.sub-title
    display: block
    font-size: 1.4rem
    margin-bottom: 10px
