@import '../../../../styles/util'

\:host
  display: block

  ul.tab-ul
    margin: 0 20px
    height: 56px
    border-bottom: 1px $common-grey solid

  li
    font-size: 1.4rem
    display: inline-block

  a
    display: inline-block

    &:hover, &.active
      color: $common-blue
      font-weight: 600
      border-bottom: 2px $common-blue solid
      cursor: pointer

  ul.tab-ul a
    padding: 30px 20px 10px

  ul.fixed
    width: 1010px
    margin-left: 0
    position: fixed
    top: 0
    z-index: 99
    box-shadow: rgba(0,0,0,.22) 0 5px 10px -5px
    background: #fff

    a
      padding: 30px 50px 10px


