<!--TODO: class="{{data.sliceClass}}" -->
<div class="items-wrapper">
	<ul
		class="ul-items"
		[ngStyle]="{width: itemsWidth + 'px', left: 0}"
	>
		<li 
			*ngFor="let item of data.items" 
			class="{{item.liClass}}" 
	  	(mouseenter)="itemOnMouseenter($event.target)"
	  	(mouseleave)="itemOnMouseleave($event.target)"
		>
	  	<!-- [ngClass]="{'active': currentItem ===item }" -->
			<div
				*ngIf="data.sliceClass==='ul-products'"
				class="{{item.divClass}}"
			>
				<div
	      	[ngStyle]="{'background-image':'url(' + item.thumbnail.src + ')'}"
	      	class="thumbnail"
	      ></div>
			  <h4 class="{{item.h4Class}}">{{item.title}}</h4>
			  <p class="{{item.pClass}}">{{item.summary}}</p>

			  <ng-container *ngIf="item.details">
			  	<h5>{{item.details.title}}</h5>
		      <ul class="details">
		      	<li *ngFor="let detailsItem of item.details.list">{{detailsItem}}</li>
		      </ul>
			  </ng-container>

				<button
			  	class="{{item.button.class}}"
			  	routerLink="{{item.button.routerLink}}"
			  >{{item.button.text}}</button>
			</div>

			<ng-container *ngIf="data.sliceClass==='scenarios'">
				<div
	      	[ngStyle]="{'background-image':'url(' + item.thumbnail.src + ')'}"
	      	class="thumbnail"
	      ></div>
			  <h4 class="{{item.h4Class}}">
			  {{item.title}}</h4>
			  <p class="{{item.pClass}}">{{item.summary}}</p>

				<button
			  	class="{{item.button.class}}"
			  	routerLink="{{item.button.routerLink}}"
			  >{{item.button.text}}</button>
			</ng-container>

			<a 
				*ngIf="data.sliceClass==='bar-modules-ul'" 
				(click)="itemSelected(item)" 
			>
				<div class="thumbnail" >
	      	<svg tccIcon="{{item.thumbnail.name}}"></svg>
	      </div>
			  <h4 class="{{item.h4Class}}">{{item.name}}</h4>
			  <p class="{{item.pClass}}">{{item.title}}</p>
			</a>

		</li>
	</ul>

	<ul 
		class="ul-swap"
		[ngStyle]="{width: itemsWidth + 'px'}"
	>
		<li
			*ngFor="let item of data.items"
			class="{{item.liClass}}" 
	  	(mouseenter)="itemOnMouseenter($event.target)"
	  	(mouseleave)="itemOnMouseleave($event.target)"
		><!-- [ngClass]="{'current': currentItem ===item }" -->
			<div
				*ngIf="data.sliceClass==='ul-products'"
				class="{{item.divClass}}"
			>
				<div
	      	[ngStyle]="{'background-image':'url(' + item.thumbnail.src + ')'}"
	      	class="thumbnail"
	      ></div>
			  <h4 class="{{item.h4Class}}">{{item.title}}</h4>
			  <p class="{{item.pClass}}">{{item.summary}}</p>

			  <ng-container *ngIf="item.details">
			  	<h5>{{item.details.title}}</h5>
		      <ul class="details">
		      	<li *ngFor="let detailsItem of item.details.list">{{detailsItem}}</li>
		      </ul>
			  </ng-container>

				<button
			  	class="{{item.button.class}}"
			  	routerLink="{{item.button.routerLink}}"
			  >{{item.button.text}}</button>
			</div>

			<ng-container *ngIf="data.sliceClass==='scenarios'">
				<div
	      	[ngStyle]="{'background-image':'url(' + item.thumbnail.src + ')'}"
	      	class="thumbnail"
	      ></div>
			  <h4 class="{{item.h4Class}}">
			  {{item.title}}</h4>
			  <p class="{{item.pClass}}">{{item.summary}}</p>

				<button
			  	class="{{item.button.class}}"
			  	routerLink="{{item.button.routerLink}}"
			  >{{item.button.text}}</button>
			</ng-container>

			<a 
				*ngIf="data.sliceClass==='bar-modules-ul'" 
				(click)="itemSelected(item)" 
			>
				<div class="thumbnail" >
	      	<svg tccIcon="{{item.thumbnail.name}}"></svg>
	      </div>
			  <h4 class="{{item.h4Class}}">{{item.name}}</h4>
			  <p class="{{item.pClass}}">{{item.title}}</p>
			</a>


		</li>
	</ul>
</div>

<a 
  *ngIf="needArrow"
  (click)="turnLeft()"
  class="arrow left"
></a>
<a
  *ngIf="needArrow"
  (click)="turnRight()"
  class="arrow right"
></a>

