
<h3 class="sub-title">{{data.title}}</h3>

<div class="scenarios-tab-box">
	<ul>
		<li
			*ngFor="let tab of data.tabs"
			(mouseover)="onMouseOver(tab)">

			<!-- <a routerLink="{{tab.link}}" routerLinkActive="active">{{tab.text}}</a> -->
			<a [class.active]="tab===current">{{tab.class}}</a>

		</li>
	</ul>
	<!-- <div class="scenarios-content">
		<router-outlet name="scenarios"></router-outlet>
	</div> -->
	<div class="scenarios-content">

		<div
			class="scenario-details"
			*ngFor="let tabData of data.tabs"
			[ngClass]="{current: tabData===current, 'text': !tabData.image}">

			<img class="scenario-img"
				*ngIf="tabData.image"
				src="{{tabData.image.src}}" alt="" />
				<!-- [ngStyle]="{'width': tabData.image.width + 'px'}"/> -->
			<p>{{tabData.text}}</p>

		</div>

	</div>
</div>