@import '../../../products.layout'

h3
  font-size: 1.6rem
  margin: 0
  padding: 40px 0 16px 10px

  &:before
    content: ""
    display: inline-block
    width: 4px
    height: 16px
    position: relative
    top: 3px
    right: 8px
    background: $common-blue

.scenarios-tab-box

  ul
    display: inline-flex
    justify-content: flex-start
    // align-items: flex-start
    border: 1px #e6eaee solid

    li

      a
        margin-top: -1px
        margin-left: -1px
        margin-right: -1px

        border-bottom: 0
        display: inline-block
        font-size: 1.4rem
        padding: 12px 40px

        &:hover, &.active
          border-top: 2px $common-blue solid
          border-bottom: 1px #fff solid
          margin-top: -2px
          margin-bottom: -1px
          color: #2481e3
          background: #fff
          font-weight: 600

