
<h3 class="sub-title">{{data.title}}</h3>

<div class="scenarios-tab-box">
	<ul>
		<li *ngFor="let tab of data.tabs; let i=index">
			<a routerLink="{{tab.link}}" routerLinkActive="active">{{tab.text}}</a>
			<!--TODO:
this.router.navigate(['../', { id: crisisId, foo: 'foo' }], { relativeTo: this.route });
or:
<a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
			-->
		</li>
	</ul>
	<div class="scenarios-content">
		<!-- TODO: no design and prototype here -->
		<router-outlet name="scenarios"></router-outlet>
	</div>
</div>