



<div class="details-banner">
	<div class="slogans">
		<h3 class="title">深度学习</h3>
		<p>
			深度学习产品TDH-DL是用于深度学习和人工智能开发的数据处理平台，帮助企业开发深度学习和AI应用，实现高度智能化的信息处理，将某些投入简单重复劳动中的人力解放出来，协助与增进企业运作管理。
		</p>
	</div>
	<div class="adv-image"></div>
</div>

<div class="tab-box">
	<ul>
		<li><a routerLink="./functionalities" routerLinkActive="active" class="">产品功能</a></li>
		<li><a routerLink="./advantages" routerLinkActive="active">产品优势</a></li>
		<li><a routerLink="./scenarios" routerLinkActive="active">应用场景</a></li>
		<li><a routerLink="./component-intro/tdh-platform-products" routerLinkActive="active">组件介绍</a></li>
		<!-- 
			<li><a routerLink="./expense-explanation" routerLinkActive="active">费用说明</a></li> 
			-->
	</ul>
	<div class="tab-sub">
		<router-outlet></router-outlet>
	</div>
</div>