
<ul 
	class="ul-products"
	[ngStyle]="{width: itemsWidth + 'px', left: 0}"
	>
  <li 
  	*ngFor="let p of items"
  	(mouseenter)="itemOnMouseenter($event.target, p)"
  	(mouseleave)="itemOnMouseleave($event.target, p)" #li
  	>
  	<!--the this is the current component, and all instance properties on your hands-->
    <div class="shadow-box">
      <div
      	[ngStyle]="{'background-image':'url(' + p.thumbnail + ')'}"
      	class="thumbnail"></div>
      <h4>{{p.title}}</h4>

      <p class="desc">{{p.summary}}</p>

      <h5>{{p.details.title}}</h5>
      <ul class="details">
      	<li *ngFor="let detailsItem of p.details.list">{{detailsItem}}</li>
      </ul>
      <button
      	routerLink="{{p.button.routerLink}}"
      	class="blue-button"
      >{{p.button.text}}</button>
    </div>
  </li>
</ul>
<ul 
	class="ul-swap ul-products"
	[ngStyle]="{width: itemsWidth + 'px'}"
	>
  
  <li *ngFor="let p of items"
  	(mouseenter)="itemOnMouseenter($event.target, p)"
  	(mouseleave)="itemOnMouseleave($event.target, p)" #li>
    <div class="shadow-box">
      <div
      	[ngStyle]="{'background-image':'url(' + p.thumbnail + ')'}"
      	class="thumbnail"></div>
      <h4>{{p.title}}</h4>

      <p class="desc">{{p.summary}}</p>
      
      <h5>{{p.details.title}}</h5>
      <ul class="details">
      	<li *ngFor="let detailsItem of p.details.list">{{detailsItem}}</li>
      </ul>
      <button
        routerLink="{{p.button.routerLink}}"
        class="blue-button"
      >{{p.button.text}}</button>
    </div>
  </li>
</ul>
<a 
  *ngIf="needArrow"
  (click)="turnLeft()"
  class="arrow left"></a>
<a
  *ngIf="needArrow"
  (click)="turnRight()"
  class="arrow right"></a>

