<header class="top-nav">

	<nav>
		<!--oem-->
		<div *ngIf="!!oem"
			class="{{oem.style.class}}"
		>
			<a
				routerLink="{{oem.routerLink}}"
				class="{{oem.style.class + ' logo'}}"
				routerLinkActive="{{oem.style.routerLinkActive}}"
				(click)="onClick(item)"
			> </a>
			<span *ngIf="!!oem.name">{{oem.text}}</span>
		</div>

		<ul class="top-nav-ul"
			[ngClass]="{ 'oem': !!oem }"
		>
			<li *ngFor="let item of navigationData.navTop; let idx = index"
			[ngClass]="{ 'logo-li': item.text==='LOGO' }"
			>
				<!--below conditions all related to the configuration in service-->
				<a
					*ngIf="item.routerLink"
					routerLink="{{item.routerLink}}"
					class="{{item.style.class}}"
					routerLinkActive="{{item.style.routerLinkActive}}"
					(mouseenter)="onMouseEnter(item)"
					(click)="onClick(item)"
				>{{item.text}}</a>
				<!-- only for "to admin center button"-->
				<a
					*ngIf="!item.routerLink"
					class="{{item.style.class}}"
					href="ignitor/url"
				>{{item.text}}</a>
			</li>
	<!-- 		<li><a routerLink="./home" class="top-nav-a logo">Logo</a></li>
			<li>
				<a
					routerLink="./products/data-warehouse/functionalities" 
					routerLinkActive="active" 
					class="top-nav-a"
					(mouseenter)="onMouseEnter()" >云产品</a>
			</li>
			<li><a routerLink="./modules" routerLinkActive="active" class="top-nav-a">产品组件</a></li>
			<li><a routerLink="./business-scenario" routerLinkActive="active" class="top-nav-a">业务方案</a></li>
			<li><a routerLink="./documents-support" routerLinkActive="active" class="top-nav-a">文档与支持</a></li>
			<li><a class="manage-center" href="http://www.baidu.com/">管理中心</a></li> -->
		</ul>

		<!--oem-->
		<a
			*ngIf="!!admin"
			class="{{admin.style.class}}"
			href="/ignitor/url"
		>{{admin.text}}</a>
	</nav>

	<!--S: sub menu-->
	<div
		*ngIf="showSubmenu"
		(mouseleave)="onMouseleave()"
		class="top-nav-sub-items">

		<ul
			*ngIf="subMenuItems.type===submenuType.products"
			class="products-sub-menu">
			<li
				*ngFor="let item of subMenuItems.products">
				<a
					(click)="onClick()"
					routerLink="{{item.routerLink}}">
					<h3>{{item.title}}</h3>
					<p>{{item.summary}}</p>
				</a>
			</li>
		</ul>

		<ul class="modules-sub-menu"
			*ngIf="subMenuItems.type===submenuType.modules">
			<li
				*ngFor="let item of subMenuItems.products"
				[ngClass]="item.category==='tdh-system-service'?'column-one':'column-two'">
				<h3>{{item.title}}</h3>
				<dl>
					<dd *ngFor="let product of item.products; let i = index">
						<a
							(click)="onClick()"
							routerLink="{{product.routerLink}}">
							<h4>{{product.title}}</h4>
							<p>{{product.summary}}</p>
						</a>
					</dd>
				</dl>
			</li>
		</ul>
		
	</div>
	<!--E: sub menu-->

</header>