@import '../common/style/layout'

$f12: 1.2rem
$f14: 1.4rem
$f16: 1.6rem
$f18: 1.8rem
$fwb: 600

$h30: 30px
$h60: 60px


.top-nav
  width: 100%
  height: $h60
  display: block
  background: #090e11
  font-size: $f16
  font-weight: 500
  position: relative
  
  .top-nav-ul
    @extend .center-box
    position: relative
    
    li
      float: left
      height: 60px
      width: 140px
      display: inline-block
      &:first-child
        width: 245px

      a 
        display: inline-block
        width: 80px
        text-align: center
        color: #fff
        line-height: $h60
        margin: 0 auto
        &:hover, &.active
          height: 57px
          color: #2481e3
          border-bottom: 3px #2481e3 solid
          margin-bottom: -3px

      .logo
        width: 200px
        height: 55px
        overflow: hidden
        text-indent: 200px
        background: transparent url(/assets/images/icons.png) no-repeat 43px 12px
        &:hover
          border: 0

      .manage-center
        display: inline-block
        width: 90px
        height: $h30
        line-height: $h30
        border-radius: 5px
        text-align: center
        color: #fff
        background: #2481e3
        position: absolute
        right: 88px
        top: 14px
        &:hover, &.active
          height: $h30
          color: #fff

  .top-nav-sub-items
    @extend .center-box-absolute
    height: auto
    background: #051722
    top: 60px 
    z-index: 100
    ul
      li

.border-radius
  border-radius: 5px

a.submenu-color
  background: #162c44
  color: #7c8a97

  &>p
    color: #7c8a97

  &:hover
    background: #0063cb





