
<div class="home-box">

  <tui-adv [advList]="advs"></tui-adv>
<!--   <div class="home-banner">
    <ul class="advs">
      <li>
        <h2>云上大数据服务</h2>
        <p>我们专注于为企业提供以客户为中心的全流程产品，帮助企业获得成功</p>
      </li>
    </ul>
    <a class="arrow left"></a>
    <a class="arrow right"></a>
    <ul class="crumbs">
      <li></li>
      <li class="big"></li>
      <li></li>
      <li></li>
    </ul>
  </div> -->
  <!--E: home-banner-->
  <div class="cloud-products">
    <h3 class="middle-title">星环云产品</h3>

    <!-- <tui-slices [items]="cloudProducts_"></tui-slices> -->
    <tui-slices-modules [data]="cloudProducts"></tui-slices-modules>
    <!-- <ul class="products">
      <li>
        <div class="thumbnail"></div>
        <h4>关系数据库</h4>
        <p class="desc">构建企业内部的关系数据库服务，可用于处理数据量在500GB以内的OLTP业务。支持复杂的SQL查询，提供高稳定、可扩展、强一致的数据处理服务。</p>
        <a href="">查看详情</a>
      </li>

      <li class="current">
        <div class="thumbnail data-mart"></div>
        <h4>数据集市</h4>
        <h5>产品功能</h5>
        <ul class="details">
          <li>面向业务的数据整合</li>
          <li>强大的SQL支持</li>
          <li>交互式OLAP分析</li>
          <li>高效的开发和运维工具</li>
        </ul>
        <a class="blue-button" href="">查看详情</a>
      </li>

      <li>
        <div class="thumbnail info-retrieval"></div>
        <h4>信息检索</h4>
        <p class="desc">为企业构建一站式内部搜索平台和信息检索服务，提供PB级别的高速全文检索，实现毫秒级的响应速度，高并发支持，字段精确和模糊检索以及快速统计功能。</p>
        <a href="">查看详情</a>
      </li>
    </ul>
    <a class="arrow left"></a>
    <a class="arrow right"></a> -->
  </div>
  <!--E: cloud-products-->

  <!--S: gap below adv banner -->
  <div class="gap-below-adv"></div>
  <!--E: gap below adv banner -->

  <div class="hot-modules">
    <h3 class="middle-title">热门组件</h3>
    <!--S: details-->
    <hot-modules [data]="hotModules"></hot-modules>
  </div>
  <!--E: hot-modules-->

  <div class="business-scenario">
    <h3 class="middle-title">星环业务方案</h3>
    <tui-slices-modules [data]="businessScenarios"></tui-slices-modules>
    <!-- <div>
      <ul class="scenarios">
        <li class="scenario-0">
          <h4>关系数据库</h4>
          <p>text placeholdertext placeholdertext placeholdertext placeholdertext placeholder</p>
          <button>查看详情</button>
        </li>
        <li class="scenario-1">
          <h4>实时计算</h4>
          <p>text placeholdertext placeholdertext placeholder</p>
          <button>查看详情</button>
        </li>
        <li class="scenario-2">
          <h4>信息检索</h4>
          <p>text placeholdertext placeholdertext placeholder</p>
          <button>查看详情</button>
        </li>
      </ul>
      <a class="arrow left"></a>
      <a class="arrow right"></a>
    </div> -->
  </div>
  <!--E: business-scenario-->

  <div class="video-tutorial">
    <h3 class="middle-title">视频教程</h3>
    <ul class="videos">
      <li>
        <a>
          <span class="thumbnail video-data"></span>
          <h5>云产品的安装和使用</h5>
          <p>this is the descriptions；this is the descriptions；this is the descriptions； </p>
        </a>
      </li>
      <li>
        <a>
          <span class="thumbnail video-db"></span>
          <h5>云产品实例管理</h5>
          <p>this is the descriptions；this is the descriptions；this is the descriptions;</p>
        </a>
      </li>
      <li>
        <a>
          <span class="thumbnail video-code"></span>
          <h5>项目管理</h5>
          <p>this is the descriptions；this is the descriptions；this is the descriptions;</p>
        </a>
      </li>
      <!-- <li>
        <span class="thumbnail cloud-data"></span>
        <h5>用户与权限管理</h5>
      </li>
      <li>
        <span class="thumbnail cloud-data"></span>
        <h5>......</h5>
      </li> -->
    </ul>
    <a class="arrow left"></a>
    <a class="arrow right"></a>
  </div>
  <!--E: video-tutorial-->

  <div class="status-update">
    <h3 class="middle-title">最新动态</h3>
    <ul class="news-list">
      <li *ngFor="let news of latestNews; let idx=index;">
        <input *ngIf="idx===0" id="firstNewsId" value="{{news.id}}" type="hidden" />
        <a [ngStyle]="{'background-image': 'url('+ news.icon + ')'}"
          [routerLink]="['/latest-news', news.id]"
          class="news-a">
          <h3><span>[{{news.tag}}]</span>{{news.title}}</h3>
          <div class="date">{{news.date}}</div>
        </a>
      </li>
<!--       <li>
        <a
          routerLink="/latest-news"
          class="news-a news-2">
          <h3><span>【巨能聊】</span>Hadoop性能调优案例分享</h3>
          <div class="date">2017-09-23</div>
        </a>
      </li> -->
    </ul>
  </div>
  <!--E: status-update-->

  <div class="start-trip">
    <h3 class="middle-title">开始你的云上大数据之旅</h3>
    <button (click)="goToAdmin">进入管理中心</button>
  </div>
  <!--E: start-trip-->
</div>