
<div class="home-box">
  <tdc-ui-adv [advList]="advs"></tdc-ui-adv>
<!--   <div class="home-banner">
    <ul class="advs">
      <li>
        <h2>云上大数据服务</h2>
        <p>我们专注于为企业提供以客户为中心的全流程产品，帮助企业获得成功</p>
      </li>
    </ul>
    <a class="arrow left"></a>
    <a class="arrow right"></a>
    <ul class="crumbs">
      <li></li>
      <li class="big"></li>
      <li></li>
      <li></li>
    </ul>
  </div> -->
  <!--E: home-banner-->

  <div class="cloud-products">
    <h3 class="middle-title">星环云产品</h3>

    <tdc-ui-slices [items]="cloudProducts"></tdc-ui-slices>
    
    <!-- <ul class="products">
      <li>
        <div class="thumbnail"></div>
        <h4>关系数据库</h4>
        <p class="desc">构建企业内部的关系数据库服务，可用于处理数据量在500GB以内的OLTP业务。支持复杂的SQL查询，提供高稳定、可扩展、强一致的数据处理服务。</p>
        <a href="">查看详情</a>
      </li>

      <li class="current">
        <div class="thumbnail data-mart"></div>
        <h4>数据集市</h4>
        <h5>产品功能</h5>
        <ul class="details">
          <li>面向业务的数据整合</li>
          <li>强大的SQL支持</li>
          <li>交互式OLAP分析</li>
          <li>高效的开发和运维工具</li>
        </ul>
        <a class="blue-button" href="">查看详情</a>
      </li>

      <li>
        <div class="thumbnail info-retrieval"></div>
        <h4>信息检索</h4>
        <p class="desc">为企业构建一站式内部搜索平台和信息检索服务，提供PB级别的高速全文检索，实现毫秒级的响应速度，高并发支持，字段精确和模糊检索以及快速统计功能。</p>
        <a href="">查看详情</a>
      </li>
    </ul>
    <a class="arrow left"></a>
    <a class="arrow right"></a> -->
  </div>
  <!--E: cloud-products-->

  <div class="hot-modules">
    <h3 class="middle-title">热门组件</h3>
    <!--S: details-->
    <div class="details">
      <div class="left">
        <h3>Discover数据挖掘</h3>
        <p>Discover是分布式机器学习平台，它包含了丰富的分布式算法库，内置了多个行业应用模块，提供多类接口，以帮助数据工程师和科学家开发自己的数据挖掘算法。</p>

        <h4 class="bold">应用场景</h4>
        <ul class="cases">
          <li>刻画用户画像，进行智能推荐，实现精准营销；</li>
          <li>用户流失预警；</li>
          <li>金融风险控制和欺诈检测。</li>
        </ul>
      </div>

      <div class="right"></div>
    </div><!--E: details-->
    <div class="bar-modules">
      <ul>
        <!-- <li class="current"> -->
        <li>
          <a>
            <span class="thumbnail-small"></span>
            <h4 class="title">Inceptor</h4>
            <p class="desc">分析型数据库</p>
          </a>
        </li>
        <li class="">
          <a>
            <span class="thumbnail-small"></span>
            <h4 class="title">Hyperbase</h4>
            <p class="desc">快速检索和非结构化数据处理</p>
          </a>
        </li>
        <li>
          <a>
            <span class="thumbnail-small"></span>
            <h4 class="title">Slipstream</h4>
            <p class="desc">实时计算引擎</p>
          </a>
        </li>
        <li>
          <a>
            <span class="thumbnail-small"></span>
            <h4 class="title">Search</h4>
            <p class="desc">全文检索</p>
          </a>
        </li>
        <li>
          <a>
            <span class="thumbnail-small"></span>
            <h4 class="title">Discover</h4>
            <p class="desc">数据挖掘</p>
          </a>
        </li>
        <li>
          <a>
            <span class="thumbnail-small"></span>
            <h4 class="title">Sophon</h4>
            <p class="desc">深度学习和交互式数据挖掘</p>
          </a>
        </li>
      </ul>
      <a class="arrow left"></a>
      <a class="arrow right"></a>
    </div>
    <!--E: bar-modules-->
  </div>
  <!--E: hot-modules-->

  <div class="business-scenario">
    <h3 class="middle-title">星环业务方案</h3>
    <div>
      <ul class="scenarios">
        <li class="scenario-0">
          <h4>关系数据库</h4>
          <p>text placeholdertext placeholdertext placeholdertext placeholdertext placeholder</p>
          <button>查看详情</button>
        </li>
        <li class="scenario-1">
          <h4>实时计算</h4>
          <p>text placeholdertext placeholdertext placeholder</p>
          <button>查看详情</button>
        </li>
        <li class="scenario-2">
          <h4>信息检索</h4>
          <p>text placeholdertext placeholdertext placeholder</p>
          <button>查看详情</button>
        </li>
      </ul>
      <a class="arrow left"></a>
      <a class="arrow right"></a>
    </div>
  </div>
  <!--E: business-scenario-->

  <div class="video-tutorial">
    <h3 class="middle-title">视频教程</h3>
    <ul class="videos">
      <li>
        <a>
          <span class="thumbnail video-data"></span>
          <h5>云产品的安装和使用</h5>
          <p>this is the descriptions；this is the descriptions；this is the descriptions； </p>
        </a>
      </li>
      <li>
        <a>
          <span class="thumbnail video-db"></span>
          <h5>云产品实例管理</h5>
          <p>this is the descriptions；this is the descriptions；this is the descriptions;</p>
        </a>
      </li>
      <li>
        <a>
          <span class="thumbnail video-code"></span>
          <h5>项目管理</h5>
          <p>this is the descriptions；this is the descriptions；this is the descriptions;</p>
        </a>
      </li>
      <!-- <li>
        <span class="thumbnail cloud-data"></span>
        <h5>用户与权限管理</h5>
      </li>
      <li>
        <span class="thumbnail cloud-data"></span>
        <h5>......</h5>
      </li> -->
    </ul>
    <a class="arrow left"></a>
    <a class="arrow right"></a>
  </div>
  <!--E: video-tutorial-->

  <div class="status-update">
    <h3 class="middle-title">最新动态</h3>
    <ul class="news-list">
      <li *ngFor="let news of latestNews">
        <a [ngStyle]="{'background-image': 'url('+ news.image + ')'}"
          [routerLink]="['/latest-news', news.id]"
          class="news-a">
          <h3><span>{{news.tag}}</span>{{news.title}}</h3>
          <div class="date">{{news.date}}</div>
        </a>
      </li>
<!--       <li>
        <a
          routerLink="/latest-news"
          class="news-a news-2">
          <h3><span>【巨能聊】</span>Hadoop性能调优案例分享</h3>
          <div class="date">2017-09-23</div>
        </a>
      </li> -->
    </ul>
  </div>
  <!--E: status-update-->

  <div class="start-trip">
    <h3 class="middle-title">开始你的云上大数据之旅</h3>
    <button (click)="goToAdmin">进入管理中心</button>
  </div>
  <!--E: start-trip-->
</div>



<!--

<div class="wrap">
  <div tdcBgImgUrl="page-one-bg.png" class="page-one">
    <div class="page-one-header">
      <div class="page-one-header-logo">
        <img tdcImgSrc="logo.png">
      </div>
      <nav>
        <a (click)="product()"  i18n>云产品</a>
        <a href="###" i18n>业务方案</a>
        <a href="###" i18n>在线支持</a>
        <a href="###" i18n>管理中心</a>
      </nav>
    </div>
    <div style="clear: both"></div>
    <div class="page-one-body">
      <h3>
        TRANSWARP DATACLOUD
      </h3>
      <h1 i18n>
        云上大数据服务
      </h1>
      <p i18n>
        我们专注于为企业提供以客户为中心的全流程产品，帮助企业获得成功
      </p>
      <a i18n href="###">
        查看详情
      </a>
    </div>
  </div>
  <div class="page-two">
    <h3 i18n>
      星环云产品
    </h3>
    <div class="page-two-underline">

    </div>
    <div class="page-two-product-warp">
      <div class="page-two-product">
        <div class="page-two-product-one">
          <div class="svg">
            <img tdcImgSrc="Relational-database.png">
          </div>
          <h3 i18n>
            关系数据库
          </h3>
          <p i18n>构建一站式的机遇TDH的数据仓库服务</p>
          <p i18n>包括拆分数据库、数据整合</p>
          <p i18n>模型加工等需要的平台服务和工具</p>
          <a i18n href="###">点击查看</a>
        </div>
        <div class="page-two-product-one">
          <div class="svg">
            <img tdcImgSrc="Data-Mart.png">
          </div>
          <h3 i18n>
            数据集市
          </h3>
          <p i18n>用于构建企业的数据集市，对数据分析</p>
          <p i18n>提供包括交互设计分析、Cube、报表工具</p>
          <p i18n>让用户构建自动化报表应用</p>
          <a i18n href="###">点击查看</a>
        </div>
        <div class="page-two-product-one">
          <div class="svg">
            <img tdcImgSrc="Data-retrieval.png">
          </div>
          <h3 i18n>
            信息检索
          </h3>
          <p i18n>用于构建企业的数据库，对数据分析</p>
          <p i18n>提供包括交互分析、Cube、报表工具</p>
          <p i18n>让用户构建自动化报表应用</p>
          <a i18n href="###">点击查看</a>
        </div>
      </div>
    </div>
    <div tdcBgImgUrl="bg.jpg">
       <a i18n href="###"  class="cheek">
      查看星环公司令人激动的所有产品功能
    </a>
    </div>

  </div>
  <div class="page-three">
    <header>
      <div class="hot">
        <h2 i18n>海纳百川，精选星环热门组件</h2>
        <p i18n>计算、存储、大数据、人工智能、普惠科技祝您飞跃发展</p>
      </div>
      <div class="show">
        <img tdcImgSrc="page3.gif">
      </div>
    </header>
    <div style="clear:both"></div>
    <footer>
      <div class="goods">
        <div class="svg">
          <img tdcImgSrc="page3-svg1.gif">
        </div>
        <h5>Transwarp Guardian</h5>
        <p i18n>安全、权限和资源管理</p>
      </div>
      <div class="goods">
        <div class="svg">
          <img tdcImgSrc="Search.png">
        </div>
        <h5>Transwarp Hyperbase</h5>
        <p i18n>快速检索和非结构化数据处理</p>
      </div>
      <div class="goods">
        <div class="svg">
          <img tdcImgSrc="Slipstream.png">

        </div>
        <h5>Apache Kafka</h5>
        <p i18n>消息中间件</p>
      </div>
      <div class="goods">
        <div class="svg">
          <img tdcImgSrc="Inceptor.png">
        </div>
        <h5>Transwarp Inceptor</h5>
        <p i18n>分析型数据库</p>
      </div>
      <div class="goods">
        <div class="svg">
          <img tdcImgSrc="Discover.png">
        </div>
        <h5>Transwarp Discover</h5>
        <p i18n>数据挖掘</p>
      </div>

    </footer>
  </div>
  <div class="page-four" tdcBgImgUrl="page-four-bg.jpg">
    <h3 i18n>星环案例介绍</h3>
    <div class="underline"></div>
    <div class="case-wrap">
      <div class="case">
        <img tdcImgSrc="page4-1.gif">
        <h2 i18n>电信解决方案</h2>
        <p i18n>结合大数据能力帮助电商企业快速搭建</p>
        <p i18n>平台、应对业务高并发，剖析秒杀、视频直播</p>
        <a href="###">查看详情</a>
      </div>
      <div class="case">
        <img tdcImgSrc="page4-2.gif">
        <h2>医疗卫生解决方案</h2>
        <p i18n>帮助客户快速扩展020业务，提升用户使用体验，助理</p>
        <p i18n>020客户走进互联网的“场景时代”</p>
        <a i18n href="###">查看详情</a>
      </div>
      <div class="case">
        <img tdcImgSrc="page4-3.gif">
        <h2 i18n>人工智能解决方案</h2>
        <p i18n>依据网站不同发展阶段，为网站类用户提供最佳智能</p>
        <p i18n>交通方案</p>
        <a i18n href="###">查看详情</a>
      </div>
    </div>
  </div>
  <div class="page-five">
    <h3 i18n>星环云产品教程</h3>
    <div class="underline"></div>
    <div class="product-wrap">
      <div class="product">
        <img tdcImgSrc="page5-product1.gif">
        <h4 i18n>云数据教程</h4>
        <p i18n>构建一站式的基于TDH的数据库服务，包</p>
        <p i18n>括分析数据库、数据集合</p>
      </div>
      <div class="product">
        <img tdcImgSrc="page5-product2.gif">
        <h4 i18n>云数据教程</h4>
        <p i18n>用于构建企业数据库集市，对接数据分析，其</p>
        <p i18n>中包括交互式分析、cube、报表工具</p>
      </div>
      <div class="product">
        <img tdcImgSrc="page5-product3.gif">
        <h4 i18n>云代码教程</h4>
        <p i18n>构建一站式的基于TDH的数据库服务，包</p>
        <p i18n>括分析数据库、数据集合</p>
      </div>
    </div>
  </div>
  <div class="page-six">
    <h3 i18n>星环最新动态</h3>
    <div class="underline"></div>
    <div class="news-wrap">
      <div class="news">
        <img tdcImgSrc="page6-news1.gif">
        <h4 i18n>【深度】&nbsp;大数据平台核心技术全解析</h4>
        <div class="time">
          <span>24&nbsp;Jun&nbsp;5:35&nbsp;PM</span>
          <span class="visit"><img tdcImgSrc="browse.png"> 275</span>
          <span class="comment"><img tdcImgSrc="Leave-a-message.png">12</span>
        </div>
      </div>
      <div class="news">
        <img tdcImgSrc="page6-news2.gif">
        <h4 i18n>【聚能聊】&nbsp;用空格锁紧的程序员赚钱多</h4>
        <div class="time">
          <span>24&nbsp;Jun&nbsp;5:35&nbsp;PM</span>
          <span class="visit"><img tdcImgSrc="browse.png"> 275</span>
          <span class="comment"><img tdcImgSrc="Leave-a-message.png">12</span>
        </div>
      </div>
      <div class="news">
        <img tdcImgSrc="page6-news3.gif">
        <h4 i18n>【深度】&nbsp;大数据平台核心技术全解析</h4>
        <div class="time">
          <span>24&nbsp;Jun&nbsp;5:35&nbsp;PM</span>
          <span class="visit"><img tdcImgSrc="browse.png"> 275</span>
          <span class="comment"><img tdcImgSrc="Leave-a-message.png">12</span>
        </div>
      </div>
    </div>
  </div>
  <div class="page-seven">
    <header tdcBgImgUrl="seven-bg.jpg">
      <h3 i18n>开始你的云上大数据之旅</h3>
      <div class="underline"></div>
      <div><a href="###">进入管理中心</a></div>
    </header>
    <h4 i18n tdcBgImgUrl="bg.jpg">
      星环云，今天为全国37%的客户创造了<span>1,147,928,63</span>的产值
    </h4>
    <footer>
      <div class="logo">
        <img tdcImgSrc="logo-l.png">
      </div>
      <div class="item-wrap">
        <div class="item">
          <h5 i18n>
          常见问题
          </h5>
          <a i18n href="###">新手专区</a>
          <a i18n href="###">用户教程</a>
          <a i18n href="###">帮助中心</a>
          <a i18n href="###">论坛中心</a>
        </div>
        <div class="item">
          <h5 i18n>
          热门活动
          </h5>
          <a i18n href="###">7天免费试用</a>
          <a i18n href="###">8折大促</a>
        </div>
        <div class="item">
          <h5 i18n>
          客户服务
          </h5>
          <a i18n href="###">专属客服</a>
          <a i18n href="###">商务合作</a>
          <a i18n href="###">产品咨询</a>
        </div>
        <div class="item last">
          <h5 i18n>
          关注我们
          </h5>
          <a i18n href="###">公司介绍</a>
          <a i18n href="###">新闻中心</a>
          <a i18n href="###">联系我们</a>
        </div>
      </div>
    </footer>
    <div class="copyright">
      <span>沪ICP备&nbsp;13042669-2@2017&nbsp;TRANSWARP.保留所有权利</span>
      <a href="###">中文</a>
      <a href="###" class="en">EN</a>
    </div>
  </div>
</div>
-->