@import '../common/style/layout'
@mixin background($image, $type:jpg, $bgColor:#fff, $left:left, $top:top)
  background: #{$bgColor} url(/assets/images/home/#{$image}.#{$type}) no-repeat #{$left} #{$top}

div, h1, h2, h3, h4, h5, h6, ul, li, span, p 
  padding: 0
  margin: 0

.hide
  display: none
.middle-title
  padding-top: 80px
  padding-bottom: 35px
  text-align: center
  font-size: 2.8rem
  font-weight: 300
  color: #fff
  position: relative

  &:after
    content: ""
    display: inline-block
    width: 70px
    height: 0
    border-bottom: 2px #fff solid
    margin: 0 auto
    position: absolute
    top: 144px
    left: 50%
    margin-left: -35px


.home-box
  

.cloud-products
  height: 750px
  background: #fff

  h3
    color: #000
    &:after
      border-bottom: 2px #000 solid

  .products
    width: 1120px
    padding: 40px 0
    overflow: auto
    margin: 0 auto

    >li
      float: left
      display: inline-block
      width: 300px
      height: 520px
      padding: 0 30px

      .thumbnail
        width: 100%
        height: 220px
      .realtime-computation
        @include background(products-data-mart, png, transparent, center, center)
      .data-mart
        @include background(products-data-mart, png, transparent, center, center)
      .info-retrieval
        @include background(products-info-retrieval, png, transparent, center, center)

      h4
        padding-bottom: 16px
        font-size: 2rem
        text-align: center

      .desc
        font-size: 1.2rem
        line-height: 1.8
        padding: 0 20px
        height: 110px
        overflow: auto
        //TODO: reduce the text when too much
        color: #ababab

      .details, h5, button
        display: none
        color: #ababab

    >li.current
      width: 440px
      height: 520px
      margin: 0 40px
      box-shadow: 0 0 50px #ddcdcd
      .thumbnail
        width: 100%
        height: 170px

      h4
        padding-bottom: 40px

      h5, .details, button
        display: block
      .desc
        display: none

      h5
        padding-bottom: 20px
        font-size: 1.4rem
        font-weight: 600

      .details
        height: 160px
        padding-bottom: 40px

        li
          line-height: 1.8
          padding-bottom: 10px
          position: relative
          text-indent: 1.5rem
          font-size: 1.2rem

          &:before
            content: ""
            display: inline-block
            width: 6px
            height: 6px
            border-radius: 6px
            background: #176eda
            position: absolute
            left: 0
            top: 7px

      .blue-button
        margin: 0 auto
        color: #fff

  .arrow
    margin-top: -80px

.gap-below-adv
  height: 108px
  width: 100%
  position: relative
  @include background(gap-bg, jpg, #264363, center)


.tui-plugin-slices
  display: block
  width: 1300px
  height: 600px
  overflow: hidden
  padding-left: 40px
  margin: 0 auto
//E: .cloud-products

.hot-modules
  height: 836px
  background: #f3f6fa
  
  h3
    color: #000
    &:after
      border-bottom: 2px #000 solid

//E: .hot-modules

.business-scenario
  
  height: 700px
  position: relative
  @include background(business-scenario-bg, jpg, #19212c, center)

  &>div
    @extend .center-box
    height: 700px

.scenarios
  padding-top: 60px
  margin: 0 auto

  li
    float: left
    display: inline-block
    width: 364px
    overflow: hidden
    padding-bottom: 38px
    margin-right: 36px
    text-align: center
    background-color: #274363

    &:last-child
      margin-right: 0

    .thumbnail
      width: 100%
      height: 208px
      transition-duration: 0.3s
      transition-property: transform

    &.scenario-0
      @include background(scenario-0, jpg, #274363)
    &.scenario-1
      @include background(scenario-1, jpg, #274363)
    &.scenario-2
      @include background(scenario-2, jpg, #274363)

  h4
    padding-top: 30px
    padding-bottom: 24px
    font-size: 1.8rem
    color: #fff
    font-weight: 400
  p
    height: 90px
    margin: 0
    padding-left: 30px
    padding-right: 30px
    padding-bottom: 40px
    font-size: 1.2rem
    line-height: 1.5
    color: #fff
    text-overflow: ellipsis
    overflow: hidden

  button
    width: 130px
    height: 40px
    border: 0
    background: #1878c9
    color: #fff
    cursor: pointer

  a
    &:hover, &:focus, &:active
      .thumbnail
        transform: scale(1.05)


.ul-swap
  position: absolute
  left: -3000px

//E:.business-scenario

.video-tutorial
  height: 780px
  position: relative
  background: #f3f6fa
  
  h3
    color: #000
    &:after
      border-bottom: 2px #000 solid

  .arrow
    top: 440px

.videos
  padding-top: 64px
  margin: 0 auto

  li
    display: inline-block
    float: left
    width: 370px
    height: 495px
    margin-left: 30px
    &:first-child
      margin-left: 0

  a
    display: inline-block
    width: 100%
    height: 100%
    background: #fff

    .thumbnail
      display: inline-block
      height: 320px
      width: 100%
      background: transparent url(/assets/images/home/tutorial-videos/bg.png) no-repeat center center
      position: relative

      img
        width: 160px
        height: 160px
        position: relative
        left: 50%
        top: 50%
        margin-left: -80px
        margin-top: -52px

    h5
      padding-bottom: 32px
      margin: 0
      font-size: 2.2rem
      text-align: center

    p
      margin: 0 60px
      line-height: 20px
      color: #b0b0b0

  a:hover
    //box-shadow: 

  li.current
    .thumbnail
      &:after
        content: ''
        display: inline-block
        width: 80px
        height: 80px
        background: url(/assets/images/video-tutorial/arrow.png)
        margin: auto
        z-index: 3
        position: absolute
        left: 145px
        top: 134px
        transform: scale(.6)

//E: .video-tutorial

.status-update
  @extend .center-box
  height: 580px
  background: #fff

  h3
    color: #000
    &:after
      border-bottom: 3px #000 solid

  ul
    padding-top: 50px
    width: 1200px
    margin-left: auto
    margin-right: auto

    li
      display: inline-block
      float: left
      width: 360px
      height: 300px
      margin-right: 40px
      border-radius: 5px
      box-shadow: 0 0 15px #f7f7f7
      &:last-child
        margin-right: 0

      //background: height 150px
      .news-a
        display: inline-block
        width: 100%
        padding-top: 150px
        height: 150px
        background: transparent no-repeat left top
        background-size: 100% 150px
        
        h3
          height: 88px
          width: 100%
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          line-height: 88px
          border-bottom: 2px #f7f7f7 solid
          font-size: 1.8rem
          text-indent: .8rem

        .date
          height: 60px
          line-height: 60px
          text-indent: 50px
          font-size: 1.2rem
          position: relative

          &:before
            content: ""
            display: inline-block
            height: 18px
            width: 18px
            position: absolute
            left: 20px
            top: 20px
            background: transparent url(/assets/images/svg/clock.svg) no-repeat center center



//E: status-update

.start-trip
  
  height: 300px
  background: url(/assets/images/home/banner-bottom-bg.jpg) repeat-x left top
  text-align: center

  h3
    @extend .center-box
    color: #fff
    &:after
      border-bottom: 3px #fff solid

  a
    display: inline-block
    width: 130px
    height: 40px
    border: 0
    margin-top: 40px
    line-height: 40px
    font-size: 1.6rem
    color: #fff
    background: #176eda
//E: .start-trip

@media (min-width: 320px) and (max-width: 720px) 
  .middle-title
    padding-top: 50px
    padding-bottom: 25px

    &:after
      width: 60px
      border-bottom: 2px #fff solid
      top: 104px
      left: 50%
      margin-left: -30px

  .cloud-products
    height: 390px

    li
      .desc
        width: 100%
        padding: 0 20px