<div class="tcc-layout-body">
  <div class="aside">
    <div></div>
  </div>
  <div class="tcc-layout-vertical">
    <div class="tcc-layout-main-nav">
      <a>返回</a>
    </div>
    <div class="tcc-layout-main-container flex-auto">
      <div>
        <h2 class="tcc-layout-main-title">Page Title</h2>
        <div class="main-content"></div>
      </div>
      <div class="tcc-layout-main-pagination-footer">
        <tcc-pagination></tcc-pagination>
      </div>
    </div>
    <div class="tcc-layout-main-container">
      More
    </div>
  </div>
</div>
