

<div class="latest-news-wrapper">
	
<!-- 	<div class="anchor">
		<a data-href="/" class="current"> 首页> </a>
		<a data-href="/user"> 最新动态 </a>
	</div> -->
	
	<div class="latest-news-banner">
		<h2>最新动态</h2>
		<!--TODO: get the data and replace it -->
<!-- 		<p>
			占位符占位符占位符占位符占位符占位符，占位符占位符占位符占位符，占位符占位符。
			占位符占位符占位符占位符占位符占位符占位符。占位符占位符占位符占位符占位符，占位符占位符占位符占位符。
		</p> -->
	</div>

	<bread-crumbs [data]="breadCrumbs"></bread-crumbs>

	<div class="latest-news-item">
		
		<div class="news-position">
			<div class="news-items">
				<ul>
					<li *ngFor="let news of newsList | async">
					<!-- [routerLink]="['/latest-news', {id: news.id}]" -->
					<!-- [routerLink]="['/latest-news', news.id]" -->
						<a 
							(click)="onSelect(news.id)"
							class="item-anchor"
							[class.current]="isSelected(news)">

							<p class="item-date">{{news.date}}</p>
							<h4>{{news.title}}</h4>
							<p class="item-summary">{{news.summary}}</p>
						</a>
					</li>
				</ul>

				<!-- <ul>
					<li>
						<a
							class="item-anchor current">
							<p class="item-date">2017-08-15</p>
							<h4 >星环的划时代版本- Transwarp Data Hub 5.0</h4>
							<p class="item-summary">星环科技历时10个月打造的新一代一站式Hadoop发行版——TDH 5.0正式发布....</p>
						</a>
					</li>
					<li>
						<a class="item-anchor">
							<p class="item-date">2017-08-15</p>
							<h4 >关于StreamSQL中的Application隔离</h4>
							<p class="item-summary">基于流的SQL引擎:StreamSQL（基础介绍）中已介绍的，Inceptor StreamSQL是用于替代Scala...</p>
						</a>
					</li>
					<li>
						<a class="item-anchor">
							<p class="item-date">2017-08-15</p>
							<h4 >从阅读量看大数据技术关注热点</h4>
							<p class="item-summary">十五早已过去，春节正式结束，而我们也早已在新的一年中工作了两周。吾日三省吾身，为了...</p>
						</a>
					</li>
					<li>
						<a class="item-anchor">
							<p class="item-date">2017-08-15</p>
							<h4 >从阅读量看大数据技术关注热点</h4>
							<p class="item-summary">十五早已过去，春节正式结束，而我们也早已在新的一年中工作了两周。吾日三省吾身，为了...</p>
						</a>
					</li>
					<li>
						<a class="item-anchor">
							<p class="item-date">2017-08-15</p>
							<h4 >从阅读量看大数据技术关注热点</h4>
							<p class="item-summary">十五早已过去，春节正式结束，而我们也早已在新的一年中工作了两周。吾日三省吾身，为了...</p>
						</a>
					</li>
					<li>
						<a class="item-anchor">
							<p class="item-date">2017-08-15</p>
							<h4 >从阅读量看大数据技术关注热点</h4>
							<p class="item-summary">十五早已过去，春节正式结束，而我们也早已在新的一年中工作了两周。吾日三省吾身，为了...</p>
						</a>
					</li>
					<li>
						<a class="item-anchor">
							<p class="item-date">2017-08-15</p>
							<h4 >从阅读量看大数据技术关注热点</h4>
							<p class="item-summary">十五早已过去，春节正式结束，而我们也早已在新的一年中工作了两周。吾日三省吾身，为了...</p>
						</a>
					</li>
				</ul> -->
			</div>
			
			<router-outlet></router-outlet>
		</div>

	</div>

</div>