.content{
	padding: 20px;
	line-height: 22px;
}

img{
	display: inline-block;
	padding: 10px 0;
	width: 710px;
	//height: 300px;
	position: relative;
	top: -15px;
}

h4{
	font-size: 1.4rem;
	color: #354052;
}

p{
	padding-bottom: 30px;
	color: #354052;
	font-size: 1.2rem;
}

.mail-to{
	color: #2b83e0;
	font-size: 1.4rem;
	font-weight: 600;
}

