@import '../../common/style/products.layout'

.intro-table

  .row
    height: 98px
    display: flex

    .title
      width: 200px
      height: 98px
      line-height: 98px
      font-weight: 600
      text-indent: 40px
      color: #354052

    .ctn
      width: 680px
      padding-right: 120px
      display: flex
      align-items: center
      align-content: center
      line-height: 1.5

    .anchor
      width: 110px
      height: 98px
      line-height: 98px
      font-weight: 600
      color: #0066ce
