<div class="product-tab-title">
  <span>{{'MODULES.PRODUCT_ADVANTAGE' | translate}}</span>
</div>
<div class="product-tab-content">
  <ul>
    <li
      *ngFor="let item of productAdvantage.items"
      [ngStyle]="{'padding-left': 0}"
      [ngClass]="{
        'chapter':item.chapter,
        'paragraph':item.paragraph,
        'indent':item.indent,
        'title':item.title
      }"
    >
      <span class="title" *ngIf="item.title">{{item.content | translate}}</span>
      <span *ngIf="!item.title">{{item.content | translate}}</span>
    </li>
  </ul>
</div>

