<h3 class="sub-title">{{'MODULES.PRODUCT_FUNCTION' | translate}}</h3>
<div class="product-tab-content">
  <ul>
    <li
      *ngFor="let item of productAdvantage.items"
      [ngStyle]="{'padding-left': 0}"
      [ngClass]="{
        'chapter':item.chapter,
        'paragraph':item.paragraph,
        'indent':item.indent,
        'title':item.title
      }"
    >
      <span class="title" *ngIf="item.title">{{item.content | translate}}</span>
      <span *ngIf="!item.title">{{item.content | translate}}</span>
    </li>
  </ul>
</div>

