
<h3 class="sub-title">{{data.title}}</h3>

<div class="details-box">
	<ul class="text-list">
		<li *ngFor="let obj of data.content">
			<h5>{{obj.title}}</h5>
			<p>{{obj.text}}</p>
		</li>
	</ul>
</div>

<!-- <ul class="text-list">
	<li>
		<h5>轻松打造云上大数据</h5>
		<p>TDH-DW底层使用Transwarp Operating System，实现集群资源管理、容器化部署，可以同IaaS层完美整合。同时TDH-DW通过采用容器技术，构建出资源组织与调度完善的多租户体系，从而更好的为企业提供云上的大数据服务。</p>
	</li>
	<li>
		<h5>卓越的数据处理能力</h5>
		<p>TDH-DW采用分布式集群架构，提供超强的并行计算和线性可扩展能力。具有PB级数据处理能力，提供强大的批处理支持，无需预先建模即可进行秒级交互分析。因而拥有卓越的主题加工能力，支持企业更多的业务创新。</p>
	</li>
	<li>
		<h5>开发效率全面提升</h5>
		<p>内置全套的数仓开发工具Transwarp Studio，支持数据整合、工作流调度、数据治理以及报表工具等数据业务，提供可视化工具进行数据特征分析，探索数据间关系。大大提高数据仓库的开发效率，提高项目的成功率。</p>
	</li>
	<li>
		<h5>多种数据类型的支持</h5>
		<p>支持多种类型的数据，提供大规模数据下高效灵活的存储和分析能力。满足对于海量非结构化数据的分析和存储需求，以及各类数据分析需求的衍生与拓展。</p>
	</li>
	<li>
		<h5>便捷的迁移</h5>
		<p>对于大量存量SQL与存储过程无需过多改动就可以迁移至新的数据仓库，同时轻松实现报表等多种工具同新平台的对接，从各个方面简化并加速数据仓库的平滑迁移。</p>
	</li>
	<li>
		<h5>可靠的数据与服务</h5>
		<p>提供双机热备。保障数据可靠，服务可用。能够实现即时灾难恢复，通过故障转移保障系统随时稳定可用，维护业务的连续性。</p>
	</li>
	<li>
		<h5>稳健的安全保护</h5>
		<p>受到Guardian的全面保护，为租户提供可靠地认证机制，防范安全漏洞和攻击，实现资源管理和行级列级的权限控制，在云环境下保护用户隐私和信息安全。</p>
	</li>
</ul> -->