<h2>Avatar</h2>

<section>
  <h3>Types</h3>
  <tcc-avatar icon="user" size="md"></tcc-avatar>
  <tcc-avatar text="U" size="md"></tcc-avatar>
  <tcc-avatar text="USER" size="md"></tcc-avatar>
  <tcc-avatar src="naruto.png" size="md"></tcc-avatar>
  <tcc-avatar text="U" size="md" style="color:#f56a00; background-color:#fde3cf;font-size: 1.5rem"></tcc-avatar>
  <tcc-avatar icon="user" size="md" style="background-color:#87d068;"></tcc-avatar>
</section>

<section>
  <h3>Icons</h3>
  <tcc-avatar icon="user" size="sm"></tcc-avatar>
  <tcc-avatar icon="user" size="md"></tcc-avatar>
  <tcc-avatar icon="user" size="lg"></tcc-avatar>
</section>

<section>
  <h3>Text</h3>
  <tcc-avatar text="Test" size="sm"></tcc-avatar>
  <tcc-avatar text="Test" size="md"></tcc-avatar>
  <tcc-avatar text="Test" size="lg"></tcc-avatar>
</section>

<section>
  <h3>Images</h3>
  <tcc-avatar src="naruto.png" size="sm"></tcc-avatar>
  <tcc-avatar src="naruto.png" size="md"></tcc-avatar>
  <tcc-avatar src="naruto.png" size="lg"></tcc-avatar>
</section>

<section>
  <h3>Image error</h3>
  <tcc-avatar src="avatar.png" icon="user" size="md"></tcc-avatar>
  <tcc-avatar src="avatar.png" text="Error" size="md"></tcc-avatar>
</section>
