
.business-scenario-banner
	height: 400px
	background: transparent url("../../images/business-scenario-banner.jpg")

	color: #fff

	h2
		margin: 0
		padding-top: 130px
		font-size: 48px
		font-weight: 500
		text-align: center
		color: #fff
		span
			font-size: 60px

	p
		font-size: 1.4rem
		margin-left: 300px
		margin-right: 300px
		line-height: 1.5


.business-scenarios
	background: #f3f5f8

	h4
		font-size: 1.6rem
		padding-left: 10px
		position: relative

		&:before
			content: ''
			width: 4px
			height: 16px
			position: absolute
			left: 0
			top: 0
			background: #2481e3

.scenarios-ul
	display: flex
	flex-wrap: wrap
	justify-content: space-evenly

	li
		display: inline-block
		width: 308px
		margin-bottom: 30px

		a
		display: inline-block
		position: relative
		height: 276px
		width: 308px
		line-height: 476px
		background: #ddd
		font-size: 16px
		text-align: center
		border: 1px red solid
		&:hover
			background: rgba(233, 222, 222, .3)

		&:after
			content: ''
			display: block
			width: 100%
			height: 76px
			position: absolute
			bottom: 0
			background: rgba(33, 22, 22, .3)

		&:hover:after
			content: ''
			display: block
			width: 100%
			height: 76px
			position: absolute
			bottom: 0
			background: rgba(343, 22, 22, .7)




