
<div class="details-banner">
  <div class="position-center">
    <div class="slogans">
      <h3 class="alias">{{bannerInfo.alias}}</h3>
      <h3 class="title title-cmpt">{{bannerInfo.title | translate}}</h3>
      <p>{{bannerInfo.subTitle | translate}}</p>
    </div>
    <div
      class="adv-image"
      (mousemove)="onMousemove($event)"
      (mouseleave)="onMousemove($event)"
    >
      <img class="image" alt="" src="{{bannerInfo.logoUrl}}" />
    </div>
  </div>
</div>

<div class="tab-box">
  <module-tab
    [tabItems]="tabItems"
    [anchorTop]="ANCHOR_TOP"
    (onTabChange)="onTabChange($event)"
  ></module-tab>
  <div class="tab-sub">
    <product-introduce></product-introduce>
    <product-advantage></product-advantage>
  </div>
</div>

