@import '../../../styles/util'

\:host /deep/
  display: block
  margin-left: 200px
  background-color: #F3F4F8
  .tdc-modules-content-layout
    width: 100%

  .content-layout-banner
    background-color: #00305a
    height: 40rem
    width: 100%
    font-size: 0
    padding: 12rem 10rem
    .banner-text, .banner-img
      width: 50%
      height: 100%
      display: inline-block
    .banner-img
      text-align: center
    .banner-text span
      color: #fff
      font-size: $font-lg
      display: block
    .banner-text span:first-child
      font-size: 3.2rem
      font-weight: bold
      margin: 2rem 0

  .content-layout-tab
    margin-top: 3rem
    .tcc-tab-item
      background-color: transparent
      border-bottom: 2px solid transparent !important
      &.active
        color: #2481e3
        border-bottom: 2px solid #00305a !important

  .product-tab-title span
    font-size: 1.6rem
    color: #354052
    display: inline-block
    border-left: 5px solid #2481e3
    font-weight: bold
    padding-left: 1rem
    margin: 2.8rem auto 0 2rem

  .product-tab-content
    margin: 2rem 2rem 4rem 2rem
    border-radius: 4px
    background-color: #fff
    font-size: 0
    overflow: hidden
    > img, > ul
      padding: 2rem
      font-size: $font-lg
    > img
      float: left
      display: inline-block
      padding: 6rem 3rem 6rem 4rem
    > ul
      padding: 6rem 4rem 100rem 3rem
      margin-bottom: -100rem
      li:last-child
        padding-bottom: 5rem

  .chapter
    margin-bottom: 2rem

  .paragraph
    margin-bottom: 1rem

  .indent
    padding-left: 1rem

