@import '../../../styles/util'
@import '../../common/style/products.layout'

\:host /deep/
  display: block
  margin-left: 21.4rem
  background-color: #F3F4F8
  .tdc-modules-content-layout
    width: 100%

  .content-layout-banner
    @include product-banner
    //background-color: #00305a
    //height: 40rem
    //width: 100%
    //font-size: 0
    //padding: 0 10rem
    //.banner-text, .banner-img
    //  vertical-align: top
    //  display: inline-block
    //  position: relative
    //  top: 50%
    //  transform: translateY(-50%)
    //.banner-text
    //  width: 63rem
    //.banner-img
    //  text-align: center
    //  margin-left: 63rem
    //.banner-text span
    //  color: #fff
    //  font-size: $font-lg
    //  display: block
    //  text-align: justify
    //.banner-text span:first-child
    //  font-size: 3.2rem
    //  font-weight: bold
    //  margin: 2rem 0

  .content-layout-tab
    padding-top: 3rem
    border: 1px #ddd solid
    .tcc-tab-head
      margin-left: 2rem
      margin-right: 2rem
    .tcc-tab-item
      background-color: transparent
      border-bottom: 3px solid transparent !important
      &.active
        color: #2481e3
        border-bottom: 2px solid #2481e3 !important

  .product-tab-title span
    font-size: 1.6rem
    color: #354052
    display: inline-block
    border-left: 5px solid #2481e3
    font-weight: bold
    padding-left: 1rem
    margin: 3.8rem auto 1.6rem 2rem

  .product-tab-content
    padding: 6rem 5rem
    border-radius: 4px
    background-color: #fff
    font-size: 0
    overflow: hidden
    > img, > ul
      font-size: 1.2rem
      line-height: 2rem
      color: #354052
    > img
      float: left
      display: inline-block
    > ul
      padding: 0 0 100rem 0
      margin-bottom: -100rem
      li
        padding-left: 8rem
        text-align: justify
        span.title
          position: relative
          left: -0.3rem
        span.title:before
          content: ''
          display: inline-block
          width: 6px
          height: 6px
          position: relative
          left: -20px
          top: -0.2rem
          border-radius: 3px
          background: #2481e3

  .chapter
    margin-bottom: 2rem

  .paragraph
    margin-bottom: 1rem

  .indent
    padding-left: 1rem

  .title
    font-size: 1.4rem
    font-weight: bold

