<div class="tdc-modules-content-layout">
  <div class="content-layout-banner">
    <img tccImgSrc="{{bannerInfo.logoUrl | translate}}"/>
    <div>
      <div>{{bannerInfo.title | translate}}</div>
      <div>{{bannerInfo.subTitle | translate}}</div>
    </div>
  </div>
  <div class="content-layout-tab">
    <tcc-tab>
      <product-introduce
        *tccTabPane="'产品介绍'"
        [productIntroduce]="productIntroduce"
      ></product-introduce>
      <product-advantage
        *tccTabPane="'产品优势'"
        [advantageIncludeImg]="advantageIncludeImg"
        [productAdvantage]="productAdvantage"
      ></product-advantage>
      <product-scenarios
        *tccTabPane="'应用场景'"
        [productScenarios]="productScenarios"
        [scenariosIncludeImgTab]="scenariosIncludeImgTab"
      ></product-scenarios>
    </tcc-tab>
  </div>
</div>
