
<div class="details-banner">
  <div class="position-center">
    <div class="slogans">
      <h3 class="alias">{{bannerInfo.alias}}</h3>
      <h3 class="title title-cmpt">{{bannerInfo.title | translate}}</h3>
      <p>{{bannerInfo.subTitle | translate}}</p>
    </div>
    <div
      class="adv-image"
      [ngStyle]="{'background': 'url(' + bannerInfo.logoUrl + ') no-repeat'}"
    ></div>
  </div>
</div>

<div class="tab-box">
  <module-tab
    [tabItems]="tabItems"
    (onTabChange)="onTabChange($event)"
  ></module-tab>
  <div class="tab-sub">
    <product-introduce></product-introduce>
    <product-advantage></product-advantage>
  </div>
</div>

