

<div class="banner">
	<div class="slogan">
		<h2>售后服务</h2>
		<p>place holder, place holder, place holder, place holder hereplace holder, place holder, place holder, place holder hereplace holder, place holder, place holder, place holder here</p>
	</div>
</div>
<div class="service">
	<ul class="items">
		<li class="service">
			<h4>5*8小时  标准服务响应</h4>
			<p>服务响应时段为：9:00 - 18:00</p>
			<h4>7*24小时  高级服务响应</h4>
			<p>400电话 7*24小时待机</p>
			<p>项目中实施人员 7*24 小时待机</p>
			<p>2小时问题没解决可以电话直呼实施经理</p>
		</li>

		<li class="cs">
			<h4>提供定制化补充服务</h4>
			<p>现场服务、驻场服务</p>
			<p>远程系统恢复</p>
			<p>数据安全与优化</p>
			<p>购买工时服务</p>
			<p>半年度系统提升改善服务</p>
			<p>软件系统运行优化咨询</p>
		</li>

		<li class="training">
			<h4>提供云产品培训</h4>
			<p>对客户方的技术和运维人员提供基本使用培训</p>
			<p>对客户方的技术和运维人员提供高级培训</p>
			<a href="http://university.transwarp.cn/" target="_blank">了解更多>></a>
			<!--TODO: the link address-->
		</li>
	</ul>
</div>