@import '../common/style/layout'
\:host

$fontGrey: #9e9e9e
$borderGrey: #dee3e9

.banner
  height: 450px
  background: #09204a url(/assets/images/after-sale-service/banner.jpg) no-repeat center top


.slogan
  @extend .center-box
  padding-left: 154px
  position: relative
  top: 50%
  transform: translateY(-50%)
  color: #fff

  h2
    line-height: 50px
    height: 50px
    font-size: 4.2rem
    color: #fff

  p
    display: none
    font-size: 1.2rem
    line-height: 1.5
    width: 420px

.items
  @extend .center-box
  text-align: left
  padding: 0 50px
  overflow: auto

  li
    float: left
    display: inline-block
    width: 320px
    height: 450px
    padding: 174px 0 45px 50px
    margin-right: 45px
    &:last-child
      margin: 0

    &
      background: transparent no-repeat center 80px

    &.service
      background-image: url(/assets/images/svg/after-sale-service/service.svg)
      background-size: 69px 67px

    &.cs
      background-image: url(/assets/images/svg/after-sale-service/cs.svg)
      background-size: 69px 67px

    &.training
      background-image: url(/assets/images/svg/after-sale-service/training.svg)
      background-size: 60px 55px

  h4
    height: 72px
    font-size: 2.2rem
    font-weight: 400
    line-height: 72px
    color: #333

  p
    font-size: 1.2rem
    line-height: 1.8
    position: relative
    padding-left: 20px
    color: $fontGrey

    &:before
      content: ''
      display: inline-block
      width: 6px
      height: 6px
      border-radius: 3px
      background: $fontGrey
      position: relative
      left: -16px

  a
    color: $common-blue
    font-size: 1.2rem
    line-height: 40px

