
<!-- <div class="details-banner">
	<div class="slogans">
		<h3 class="title">数据集市</h3>
		<p>
		数据集市是面向部门级业务，特定的应用主题，用星型或者雪花模型组织构建数据。TDH-DM可以用于构建企业的数据集市，对接数据分析业务，提供包括交互式分析、Cube、报表、调度工具，实现自动化的报表应用构建。
		</p>
	</div>
	<div class="adv-image"></div>
</div> -->

<product-banner [productDetails]=productDetails ></product-banner>

<div class="tab-box">
	<ul>
		<li>
			<a routerLink="./functionalities" routerLinkActive="active" class="">产品功能</a>
		</li>
		<li><a routerLink="./advantages" routerLinkActive="active">产品优势</a></li>
		<li><a routerLink="./scenarios" routerLinkActive="active">应用场景</a></li>
		<li><a routerLink="./component-intro/tdh-platform-products" routerLinkActive="active">组件介绍</a></li>
		<!-- 
			<li><a routerLink="./expense-explanation" routerLinkActive="active">费用说明</a></li> 
			-->
	</ul>
	<div class="tab-sub">
		<router-outlet></router-outlet>
	</div>
</div>