@import '../common/style/layout'

$f12: 1.2rem

$bg-color: #031129

.nav-bottom
  background: $bg-color
  position: relative

.nav-btm-ul
  @extend .center-box
  overflow: hidden

  li
    display: inline-block
    float: left
    width: 200px
    height: 195px


  li.logo-li
    width: 398px
    height: 115px
    padding: 0
    background: transparent url(/assets/images/logo.png) no-repeat 68px 42px

  //img
    //width: 100px
    //height: 100px
    //fill: red


dl

  dt
    font-size: 1.4rem
    line-height: 100px
    height: 75px
    color: #fff

  dd
    font-size: 1.2rem
    height: 28px
    line-height: 28px
    color: #62707c

    a.active, a:hover
      border-bottom: 1px #ddd dashed
      text-decoration: none
      padding: 1px

.bottom
  @extend .center-box

  height: 51px
  line-height: 52px
  border-top: 1px #0d1a31 solid
  position: relative
  color: #798790

  .copyright
    padding-left: 60px
    font-size: 1.2rem

//TODO: language switcher
