<div class="nav-bottom">
	<ul class="nav-btm-ul">
		<li class="logo-li">
			<!-- <img src="/assets/images/svg/component-notebook.svg" /> -->
		</li>
		<li>
			<dl>
			  <dt>使用帮助</dt>
			  <dd>
			  	<a
			   		routerLinkActive="active"
			   		routerLink="/documents-support/docs/guides">新手入门</a>
			  </dd>
			  <dd>
			  	<a
			   		routerLinkActive="active"
			   		routerLink="/documents-support/docs/products">产品文档</a>
			  </dd>
			  <dd>
			  	<a
			   		routerLinkActive="active"
			   		routerLink="/documents-support/docs/issues">常见问题</a>
			  </dd>
			</dl>
		</li>
		<li>
			<dl>
			  <dt>关注我们</dt>
			  <dd>
			  	<a href="http://www.transwarp.cn/about/introduction#compnayIntroduction" target="_blank">星环科技</a>
			  </dd>
			  <dd>产品论坛</dd>
			  <dd>
			   	<a href="http://university.transwarp.cn/" target="_blank">产品培训</a>
			  </dd>
			</dl>
		</li>
		<li>
			<dl>
			  <dt>客服服务</dt>
			  <dd>
			   	<a
			   		routerLinkActive="active"
			   		routerLink="/after-sale-service">售后服务</a>
			  </dd>
			  <dd>新闻动态</dd>
			</dl>
		</li>
		<li>
			<dl>
			  <dt>400-676-098</dt>
			  <dd>support@transwarp.io</dd>
			  <dd>在线客服</dd>
			</dl>
		</li>
	</ul>

	<div class="bottom">
		<!-- <span class="nav-btm-copyright">沪ICP备 13042669-2@2017 TRANSWARP. All right reserved</span> -->
		<span class="copyright">沪ICP备 13042669-2@2017 TRANSWARP. 保留所有权利 </span>
		<span class="language-switcher"></span>
	</div>
</div>
<!--  -->

