@import '../common/style/layout'

$f12: 1.2rem

$bg-color: #031129

.nav-bottom
  background: $bg-color
  position: relative
  z-index: 21

.nav-btm-ul
  @extend .center-box
  overflow: hidden

  li
    display: inline-block
    float: left
    width: 200px
    height: 195px
  li.logo-li
    width: 398px
    height: 115px
    padding: 0
    background: transparent url(/assets/images/logo.png) no-repeat 68px 42px

.nav-btm-ul.oem
  li.logo-li
    width: 398px
    height: 115px
    padding: 0
    background: transparent url(/assets/images/logo-oem-gzgdj.png) no-repeat 68px 42px
  li.oem-btm-li
    display: inline-block
    float: left
    width: 270px
    height: 165px
    &:last-child
      width: 200px
    a
      display: inline-block
      width: 200px
      height: 60px
      line-height: 60px
      margin-top: 54px
      background: #232f44
      text-align: center
      color: #fff

dl

  dt
    font-size: 1.4rem
    line-height: 100px
    height: 75px
    color: #fff

  dd
    font-size: 1.2rem
    height: 28px
    line-height: 28px
    color: #62707c

    a.active, a:hover
      border-bottom: 1px #ddd solid
      text-decoration: none
      padding: 1px

    .online-cs
      cursor: pointer
      &:hover, &:active
        text-decoration: underline

.bottom
  @extend .center-box

  height: 51px
  line-height: 52px
  border-top: 1px #0d1a31 solid
  position: relative
  color: #798790

  .copyright
    padding-left: 60px
    font-size: 1.2rem

//TODO: language switcher
