<div *ngFor="let node of treeModel">
  <div
    class="node-type"
    [class.selected]="node.selected"
    (dblclick)="dbClick(node, treeLevel)"
    [ngStyle]="{'padding-left': (treeLevel * 20) + 'px'}"
  >
    <svg
      [ngClass]="{'hide': !node.children || node.children.length === 0}"
      tccIcon="angle-up" size="sm"
      [class.expanded]="node.expanded"
      (click)="toggle(node, treeLevel)"
    ></svg>
    <a
      id="doc-tree-{{node.id}}"
      title="{{node.name}}"
      class="node-name node-name-level-{{treeLevel}} text-ellipsis"
      [class.selected]="node.selected"
      (click)="selectChange(node, treeLevel);"
    >
      {{node.name}}
    </a>
  </div>
  <tdc-menu-tree
    *ngIf="node.expanded && node.children.length > 0"
    [treeModel]="node.children"
    [treeLevel]="treeLevel + 1"
    (onSelectChange)="selectChange($event);"
  ></tdc-menu-tree>
</div>
