<div *ngFor="let node of treeModel">
  <div
    class="node-type"
    [ngStyle]="{'padding-left': (treeLevel * 20) + 'px'}"
  >
    <svg
      tccIcon="angle-up" size="sm"
      [class.expanded]="node.expanded"
      (click)="toggle(node, treeLevel)"
    ></svg>
    <a
      id="node.id"
      class="node-name"
      (click)="selectChange(node, treeLevel)"
    >
      {{node.name}}
    </a>
  </div>
  <tdc-menu-tree
    [treeModel]="node.subNav"
    [treeLevel]="treeLevel + 1"
    (onSelectChange)="selectChange($event)"
  ></tdc-menu-tree>
</div>
