@import '../../../../styles/util'
@include clearfix

\:host

  width: 100%
  display: inline-block
  background-color: white

  svg
    @include absolute-center-y
    fill: $brandblue
    margin-right: 5px
    transition: transform 0.4s
    &.expanded
      transform: rotate(180deg)
      margin-top: -5px

  svg.hide
    visibility: hidden

  .node-type
    height: 40px
    line-height: 40px
    width: 100%
    display: inline-block
    color: $text-dark
    user-select: none
    cursor: default
    position: relative
    &.selected
      background-color: $common-blue
      color: #fff
      svg
        fill: #fff

  .node-name
    @include text-ellipsis
    display: inline-block
    vertical-align: top
    padding-left: 20px
    &.selected
      background-color: $common-blue
    &-level-1
      width: 190px
    &-level-2
      width: 170px
    &-level-3
      width: 155px
    &-level-4
      width: 140px
    &-level-5
      width: 120px








