<div class="tcc-calender-header">
  <div class="tcc-calender-header-year" (click)="_changeView('year')" [class.viewActive]="!_monthView">{{_getYearTest}}</div>
  <div class="tcc-calender-header-date" (click)="_changeView('month')" [class.viewActive]="_monthView">{{_getDateText}}</div>
</div>
<div class="tcc-calender-controls">
  <button class="previous-button tcc-focus-ripple" (click)="_previousClicked()">
    <svg tccIcon="angle-left" size="md"></svg>
  </button>
  <div class="tcc-calender-controls-text">{{_getControlsText}}</div>
  <button class="next-button tcc-focus-ripple" (click)="_nextClicked()">
    <svg tccIcon="angle-right" size="md"></svg>
    <div class="ripple-out"></div>
  </button>
</div>
<div class="tcc-calender-content" [ngSwitch]="_monthView">
  <tcc-year-view
    *ngSwitchDefault
    [activeDate]="_activeDate"
    [selected]="selected"
    [dateFilter]="_dateFilterForViews"
    (selectedChange)="_monthSelected($event)"
  ></tcc-year-view>
  <tcc-month-view
    *ngSwitchCase="true"
    [activeDate]="_activeDate"
    [selected]="selected"
    [dateFilter]="_dateFilterForViews"
    (selectedChange)="_dateSelected($event)"
    (userSelection)="_userSelected()"
  ></tcc-month-view>
</div>
