
<div class="business-scenario-banner">
	<div class="positioning">
		<h2>已有超过<span>1000+</span>家企业选择和星环合作</h2>
		<p>大数据分析和加速，是目前市场上最热门，也是行业用户最关心的领域。星环科技作为国内推出首个基于 SPARK 和 HADOOP 2.0 的大数据平台软件的公司，专注于技术的领先于产品的完善。在市场方面，真诚的希望与各行业的ISV，系统集成商，HADOOP服务商展开深入，双赢，长期的合作</p>
	</div>
</div>

<div class="business-scenarios">
	<h4>业务方案</h4>
	<ul class="scenarios-ul">
		<li
			*ngFor="let scenario of scenarios"
			(click)="gotoScenario(scenario)"
			[ngStyle]="{'background': '#fff url('+ scenario.screenshot+ ')'+ 'no-repeat center top'}">
			<a>{{scenario.short}}</a>
		</li>
	</ul>
</div>

