
<data-warehouse-banner [productDetails]="productDetails"></data-warehouse-banner>

<div class="tab-box">
  <data-warehouse-tabs [productDetails]="productDetails"></data-warehouse-tabs>
  <div class="tab-sub">
    <data-warehouse-functionalities></data-warehouse-functionalities>
    <data-warehouse-advantages></data-warehouse-advantages>
    <data-warehouse-scenarios></data-warehouse-scenarios>
    <data-warehouse-component-intro></data-warehouse-component-intro>

		<div class="component-intro-content">
			<!-- <router-outlet name="component-intro"></router-outlet> -->
			<router-outlet></router-outlet>
		</div>

  </div>
</div>
