
<div class="details-banner">
	<div class="slogans">
		<h3 class="title">数据仓库</h3>
		<h4 class="title">高配包年8折优惠大促   限时抢购</h4>
		<p>用于构建一站式的基于 TDH的数据仓库服务，包括分析数据库、数据整合模拟加工等需要的平台服务和工具。</p>
	</div>
	<div class="adv-image"></div>
</div>

<div class="tab-box">
	<ul>
		<li><a routerLink="./functionalities" routerLinkActive="active" class="">产品功能</a></li>
		<li><a routerLink="./advantages" routerLinkActive="active">产品优势</a></li>
		<li><a routerLink="./scenarios" routerLinkActive="active">应用场景</a></li>
		<li><a routerLink="./component-intro/tdh-platform-products" routerLinkActive="active">组件介绍</a></li>
		<!-- 
			<li><a routerLink="./expense-explanation" routerLinkActive="active">费用说明</a></li> 
			-->
	</ul>
	<div class="tab-sub">
		<router-outlet></router-outlet>
	</div>
</div>