
<bread-crumbs [data]="breadCrumbs"></bread-crumbs>
<div *ngIf="!scenario.details">
	have no data!
</div>
<div
	class="scenario-banner"
	[ngStyle]="{
		'background-color': scenario.advBgColor,
		'background-image': 'url('+ scenario.adv + ')'
	}">
	<div class="scenario-slogan">
		<h2 *ngIf="scenario.title">{{scenario.title}}</h2>
		<p *ngIf="scenario.slogan">{{scenario.slogan}}</p>
	</div>
</div>

<div
	*ngFor="let item of scenario.details"
	class="details-box">
	<h3
		class="sub-title"
		*ngIf="item.title"
  >
    {{item.title}}
  </h3>

	<div
    class="ctn"
		[ngClass]="{'pure': !item.adv}"
  >
    <img
      *ngIf="item.adv"
      tccImgSrc="{{item.adv.url}}"
      class="bg-adv-img"
      [ngStyle]="{'width': item.adv.width,'height':item.adv.height}"
    />

		<div
      *ngIf="item.desc"
      class="paragraps"
    >
			<ng-container *ngFor="let desc of item.desc">
				<p *ngIf="desc.p">{{desc.p}}</p>
				<h4 *ngIf="desc.h4" class="sub-title">
                  {{desc.h4}}
                </h4>
				<p *ngIf="desc.summary"
					class="summary">{{desc.summary}}</p>
				<ul *ngIf="desc.aspects">
					<li *ngFor="let aspect of desc.aspects">
            {{aspect}}
          </li>
				</ul>
			</ng-container>
		</div>
	</div>
</div>
