<h2>Modal</h2>

<h3>Size</h3>
<section>
  <button tccBtn="primary" (click)="openSmModal()">Small</button>
  <button tccBtn="primary" (click)="openMdModal()">Middle</button>
  <button tccBtn="primary" (click)="openLgModal()">Large</button>
</section>

<h3>Scroll</h3>
<section>
  <button tccBtn="primary" (click)="openScrollableModal()">Scrollable</button>
</section>

<h3>Confirm</h3>
<section>
  <button tccBtn="primary" (click)="openConfirmModal()">Open Confirm Modal</button>
</section>

<h3>Info</h3>
<section>
  <button tccBtn="primary" (click)="openInfoModal()">Open Info Modal</button>
</section>

<h3>Close Callback</h3>
<section>
  <button tccBtn="primary" (click)="openModalWithCloseCallback()">Close Callback</button>
</section>

<h3>Data</h3>
<section>
  <p>为内部组件提供额外的数据</p>
  <button tccBtn="primary" (click)="openModalWithData()">Data</button>
</section>

<h3>Injector</h3>
<section>
  <p>为内部组件提供额外的服务</p>
  <button tccBtn="primary" (click)="openModalWithInjector()">Injector</button>
</section>

<h3>Multiple Modal</h3>
<section>
  <p>支持同时打开多个对话框</p>
  <button tccBtn="primary" (click)="openMultipleModal()">Multiple Modal</button>
</section>

<h3>Api Error</h3>
<section>
  <button tccBtn="primary" (click)="openApiErrorModal()">Api Error</button>
</section>
