@import '../../../../styles/util'

\:host
  display: block

  ul
    margin: 0 20px
    border-bottom: 1px $common-grey solid

  li
    font-size: 1.4rem
    display: inline-block
    margin-right: 30px

  a
    display: inline-block
    padding: 10px 15px 10px 15px

    &:hover, &.active
      color: $common-blue
      font-weight: 600
      border-bottom: 2px $common-blue solid
      cursor: pointer

