<div class="tdh-platform-products intro-table">
	<div class="row">
		<span class="title">Milano</span>
		<span class="ctn">
		Milano是一个日志收集分析和展示平台，为运维人员提供基于日志问题的定位和分析工具。它具有五个功能组件：logstash、kafka、elasticsearch、kibana、flink，分别用来帮助用户实现日志收集、传输、存储、展示和分析这五项功能。
		</span>
		<span class="anchor">
			<a class="more">了解更多&nbsp;→</a>
		</span>
	</div>
	<div class="row">
		<span class="title">Terminal</span>
		<span class="ctn">
		Terminal 容器命令行是集群上服务用命令行指令操作的入口，它集成了各个服务的客户端，可以在网页上连接并操作集群内的各个服务，避免了需要登录各个容器才可以操作服务的烦恼。
		</span>
		<span class="anchor">
			<a class="more">了解更多&nbsp;→</a>
		</span>
	</div>
	<div class="row">
		<span class="title">Prometheus</span>
		<span class="ctn">
		Prometheus是开源的监控和告警系统，以Metrics监控为主，通过pull mode完成时间序列数据的收集。主要包括的组件有：负责时间序列数据存储和抓取的Prometheus Server，Alertmanager，Push gateway，以及各类exporter。
		</span>
		<span class="anchor">
			<a class="more">了解更多&nbsp;→</a>
		</span>
	</div>
</div>