<!--TODO: class="{{data.sliceClass}}" -->
<div class="items-wrapper"
	[ngClass]="{'video-list': data.sliceClass==='video-list'}"
>
	<ul
		class="ul-items"
		[ngStyle]="{width: itemsWidth + 'px', left: 0}"
	>
		<li 
			*ngFor="let item of data.items; let idx=index;" 
			class="{{item.liClass}}" 
	  	(mouseenter)="itemOnMouseenter($event.target, item)"
	  	(mouseleave)="itemOnMouseleave($event.target, item)"
	  		[ngStyle]="{width: itemWidth + 'px'}"
		>
	  	<!-- [ngClass]="{'active': currentItem ===item }" -->
			<a
				*ngIf="data.sliceClass==='ul-products'"
				class="{{item.divClass}}"
			  routerLink="{{item.button.routerLink}}"
			>
				<div
	      	[ngStyle]="{'background-image':'url(' + item.thumbnail.src + ')'}"
	      	class="thumbnail"
	      ></div>
			  <h4 class="{{item.h4Class}}">{{item.title}}</h4>
			  <p class="{{item.pClass}}">{{item.summary}}</p>

			  <ng-container *ngIf="item.details">
			  	<h5>{{item.details.title}}</h5>
		      <ul class="details">
		      	<li *ngFor="let detailsItem of item.details.list">{{detailsItem}}</li>
		      </ul>
			  </ng-container>

				<button
			  	class="{{item.button.class}}"
			  >{{item.button.text}}</button>
			</a>

			<a
				routerLink="{{item.button.routerLink}}"
				*ngIf="data.sliceClass==='scenarios'"
			>
				<div
	      	[ngStyle]="{'background-image':'url(' + item.thumbnail.src + ')'}"
	      	class="thumbnail"
	      ></div>
			  <h4 class="{{item.h4Class}}">
			  {{item.title}}</h4>
			  <p class="{{item.pClass}}">{{item.summary}}</p>

				<button
			  	class="{{item.button.class}}"
			  >{{item.button.text}}</button>
			</a>

				<!-- href="{{item.thumbnail.href}}"
				target="_blank" -->
			<a
				*ngIf="data.sliceClass==='videos'"
				routerLink="{{item.routerLink}}"
			>
				<div class="thumbnail">
	      	<img src="{{item.thumbnail.src}}" alt="" />
	      </div>
			  <h5 class="{{item.h5Class}}">{{item.title}}</h5>
			  <p class="{{item.pClass}}">{{item.summary}}</p>
			</a>

			<a 
				*ngIf="data.sliceClass==='bar-modules-ul'" 
				[class.current]="idx===0"
			>
<!-- (click)="itemSelected(item)" -->
 				<div class="thumbnail">
	      	<svg tccIcon="{{item.thumbnail.name}}"></svg>
	      </div>
			  <h4 class="{{item.h4Class}}">{{item.name}}</h4>
			  <p class="{{item.pClass}}">{{item.title}}</p>
			</a>

			<a
				*ngIf="data.sliceClass==='video-list'"
				routerLink="{{item.routerLink}}"
			>
				<div class="thumbnail">
	      	<img src="{{item.thumbnail.src}}" alt="" />
	      </div>
			  <h5 class="{{item.h5Class}}">{{item.title}}</h5>
			  <p class="{{item.pClass}}">{{item.summary}}</p>
			</a>

		</li>
	</ul>

	<ul 
		class="ul-swap"
		[ngStyle]="{width: itemsWidth + 'px'}"
	>
		<li 
			*ngFor="let item of data.items" 
			class="{{item.liClass}}" 
	  	(mouseenter)="itemOnMouseenter($event.target, item)"
	  	(mouseleave)="itemOnMouseleave($event.target, item)"
	  		[ngStyle]="{width: itemWidth + 'px'}"
		>
	  	<!-- [ngClass]="{'active': currentItem ===item }" -->
			<a
				*ngIf="data.sliceClass==='ul-products'"
				class="{{item.divClass}}"
			  routerLink="{{item.button.routerLink}}"
			>
				<div
	      	[ngStyle]="{'background-image':'url(' + item.thumbnail.src + ')'}"
	      	class="thumbnail"
	      ></div>
			  <h4 class="{{item.h4Class}}">{{item.title}}</h4>
			  <p class="{{item.pClass}}">{{item.summary}}</p>

			  <ng-container *ngIf="item.details">
			  	<h5>{{item.details.title}}</h5>
		      <ul class="details">
		      	<li *ngFor="let detailsItem of item.details.list">{{detailsItem}}</li>
		      </ul>
			  </ng-container>

				<button
			  	class="{{item.button.class}}"
			  >{{item.button.text}}</button>
			</a>

			<a
				routerLink="{{item.button.routerLink}}"
				*ngIf="data.sliceClass==='scenarios'"
			>
				<div
	      	[ngStyle]="{'background-image':'url(' + item.thumbnail.src + ')'}"
	      	class="thumbnail"
	      ></div>
			  <h4 class="{{item.h4Class}}">
			  {{item.title}}</h4>
			  <p class="{{item.pClass}}">{{item.summary}}</p>

				<button
			  	class="{{item.button.class}}"
			  >{{item.button.text}}</button>
			</a>

			<a
				*ngIf="data.sliceClass==='videos'"
				routerLink="{{item.routerLink}}"
			>
				<div class="thumbnail">
	      	<img src="{{item.thumbnail.src}}" alt="" />
	      </div>
			  <h5 class="{{item.h5Class}}">{{item.title}}</h5>
			  <p class="{{item.pClass}}">{{item.summary}}</p>
			</a>

			<a 
				*ngIf="data.sliceClass==='bar-modules-ul'" 
			>
<!-- 				(click)="itemSelected(item)" 
 -->				<div class="thumbnail" >
	      	<svg tccIcon="{{item.thumbnail.name}}"></svg>
	      </div>
			  <h4 class="{{item.h4Class}}">{{item.name}}</h4>
			  <p class="{{item.pClass}}">{{item.title}}</p>
			</a>

			<a
				*ngIf="data.sliceClass==='video-list'"
				routerLink="{{item.routerLink}}"
			>
				<div class="thumbnail">
	      	<img src="{{item.thumbnail.src}}" alt="" />
	      </div>
			  <h5 class="{{item.h5Class}}">{{item.title}}</h5>
			  <p class="{{item.pClass}}">{{item.summary}}</p>
			</a>
			
		</li>
	</ul>
</div>

<a 
  *ngIf="needArrow"
  (click)="turnLeft()"
  class="arrow left"
></a>
<a
  *ngIf="needArrow"
  (click)="turnRight()"
  class="arrow right"
></a>

