<div class="tdh-platform-products intro-table">
	<div class="row">
		<span class="title">Workflow</span>
		<span class="ctn">
		</span>
		<span class="anchor">
			<a class="more">了解更多</a>
		</span>
	</div>
	<div class="row">
		<span class="title">Guardian</span>
		<span class="ctn">
		</span>
		<span class="anchor">
			<a class="more">了解更多</a>
		</span>
	</div>
	<div class="row">
		<span class="title">Hyperbase</span>
		<span class="ctn">
		</span>
		<span class="anchor">
			<a class="more">了解更多</a>
		</span>
	</div>
	<div class="row">
		<span class="title">Hadoop</span>
		<span class="ctn">
		</span>
		<span class="anchor">
			<a class="more">了解更多</a>
		</span>
	</div>
</div>