@import '../../../styles/util'

p, div, span, h1,h2,h3,h4,h5, ul, li, dl, dd, dt
  padding: 0
  margin: 0

.products-menu
  width: 190px
  float: left

.products-details
  margin-left: 190px
  background-color: #F3F4F8

.details-banner
  height: 350px
  width: 100%
  font-size: 0
  background: url("/assets/images/products/banner-bg.png")

  .slogans
    display: inline-block
    width: 475px
    padding-left: 86px
    vertical-align: top
    position: relative
    top: 50%
    transform: translateY(-50%)
    margin-right: 50px

    h3, h4
      color: #fff

    h3.title
      font-size: 4.8rem
      margin: 0

    h3.alias, h3.title-cmpt
      font-size: 3.6rem
      font-weight: normal
      margin: 0

    h3.title-cmpt
      margin-bottom: 10px

    h4.title
      font-size: 2.4rem
      font-weight: 300
      margin: 25px 0 0

    p
      font-size: 1.4rem
      color: #fff
      line-height: 1.6
      text-align: justify

  .adv-image
    display: inline-block
    width: 400px
    height: 300px
    position: relative
    vertical-align: top
    top: 50%
    transform: translateY(-50%)
    img
      width: 100%

.tabsUl-box
  width: 100%
  height: 52px

.tabsUl
  display: block
  width: 970px
  height: 56px
  border-bottom: 1px #d3d9e5 solid
  margin: 0 20px

  li
    float: left
    display: inline-block
    font-size: 1.4rem

  a
    display: inline-block
    padding: 30px 20px 10px

    &:hover, &.active
      color: #2481e3
      font-weight: 600
      border-bottom: 2px #2481e3 solid
      margin-bottom: -2px
      cursor: pointer
  &.fixed
    width: 1010px
    margin-left: 0
    position: fixed
    top: 0
    z-index: 100
    box-shadow: rgba(0,0,0,.22) 0 5px 10px -5px
    background: #fff

    a
      padding: 30px 50px 10px

.tab-sub
  padding: 0 18px

h3.sub-title
  font-size: 1.6rem
  padding: 32px 0 14px 1rem
  &:before
    content: ""
    display: inline-block
    width: 0.4rem
    height: 1.6rem
    position: relative
    top: 0.3rem
    right: 0.8rem
    background: $common-blue

.details-box
  padding: 50px 46px
  background: #fff
  border-radius: 0.4rem
  overflow: hidden
  font-size: 0

  .img
    background-repeat: no-repeat
  .diagram
    width: 400px
    float: left
    display: inline-block

    img
      width: 100%

  .text-list
    margin-left: 400px

    li
      padding-left: 70px
      position: relative
      line-height: 2rem
      font-size: 1.2rem
      margin-bottom: 2rem

      p
        margin-top: 0
        margin-bottom: 1rem
        font-size: 1.2rem
        font-weight: 300
        text-align: justify

      h5
        margin-top: 0
        margin-bottom: 1rem
        font-size: 1.4rem

      h5:before
        content: ''
        display: inline-block
        width: 0.5rem
        height: 0.5rem
        position: absolute
        left: 4.5rem
        top: 0.7rem
        border-radius: 0.25rem
        background: $common-blue

    .intent
      padding-left: 1rem

  .fl
    float: left

  .fr
    float: right

  .in-block
    display: inline-block


  //paragraphs if for scenario-children and component-intro, to support flexable image children
  .paragraphs
    li
      margin-bottom: 2rem
      position: relative
      p
        padding-right: 45px
        margin-bottom: 1rem
        font-size: 1.2rem
        line-height: 2rem
        text-align: justify

        &:before
          content: ''
          display: inline-block
          width: 0.5rem
          height: 0.5rem
          position: absolute
          left: -20px
          top: 0.7rem
          border-radius: 0.25rem
          background: $common-blue


.details-box.text, .details-box.d
  .text-list
    margin-left: 0
    li
      h5:before
        left: -20px

$row-height: 124px
.intro-table
  display: none
  background: #fff
  &.current
    display: block
  .row
    height: $row-height
    display: flex
    font-size: 1.4rem
    border-bottom: 1px #e6eaee solid
    span
      float: left
      display: inline-block
      height: $row-height

    .title
      width: 200px
      height: $row-height
      line-height: $row-height
      font-weight: 600
      font-size: 1.4rem
      text-indent: 40px
      color: #354052

    .ctn
      width: 680px
      padding-right: $row-height
      display: flex
      font-size: 1.2rem
      align-items: center
      align-content: center
      line-height: 1.5

    .anchor
      width: 110px
      height: $row-height
      line-height: $row-height
      font-weight: 600
      color: #0066ce

  .row.h
    height: $row-height



  .img
    display: inline-block
    float: left

    border: 1px green dashed


.scenarios-content
  background: #fff

  .scenario-details
    display: none
    &.current
      display: block
    padding: 50px 46px
    position: relative
    overflow: auto

    .scenario-img
      display: inline-block
      float: right
      width: 645px
      padding-left: 14px
      position: relative
      right: -16px

    p
      line-height: 2rem
      font-size: 1.2rem
      position: relative

      &:before
        content: ''
        display: inline-block
        width: 6px
        height: 6px
        position: absolute
        left: -20px
        top: 8px
        border-radius: 3px
        background: $common-blue

.component-intro-tab-box

  ul
    display: block
    width: 504px
    height: 42px
    border: 1px #e6eaee solid

    li
      float: left
      display: inline-block

      a
        margin-top: -1px
        margin-left: -1px
        margin-right: -1px

        border-bottom: 0
        display: inline-block
        font-size: 1.4rem
        padding: 12px 40px

        &:hover, &.active
          border-top: 2px #2481e3 solid
          border-bottom: 1px #fff solid
          margin-top: -2px
          margin-bottom: -1px
          color: #2481e3
          background: #fff
          font-weight: 600

.component-intro-content
  padding-bottom: 120px



