
$blue: #2481e3

@mixin product-banner
  height: 400px
  display: flex
  justify-content: space-evenly
  background: url("/assets/images/products/banner-bg.png")

  .slogans
    display: inline-block
    height: 100%
    width: 630px
    padding-left: 100px

    h3, h4
      color: #fff

    h3.title
      font-size: 4.8rem
      margin: 140px 0 0

    h4.title
      font-size: 2.4rem
      font-weight: 300
      margin: 25px 0 0

    p
      font-size: 1.4rem
      color: #fff
      line-height: 1.6

  .adv-image
    display: inline-block
    width: 474px
    height: 333px
    position: relative
    top: 30px

@mixin product-tab
