@import '../../../styles/util'

p, div, span, h1,h2,h3,h4,h5, ul, li, dl, dd, dt,
  padding: 0
  margin: 0

.products-menu
  width: 190px
  float: left

.products-details
  margin-left: 190px
  background-color: #F3F4F8

.details-banner
  height: 350px
  width: 100%
  font-size: 0
  background: linear-gradient(180deg, #001e38, #003663)

  .slogans
    display: inline-block
    width: 466px
    padding-left: 86px
    vertical-align: top
    position: relative
    top: 50%
    transform: translateY(-50%)
    margin-right: 50px

    h3, h4
      color: #fff

    h3.title
      font-size: 4.8rem
      margin: 0

    h4.title
      font-size: 2.4rem
      font-weight: 300
      margin: 25px 0 0

    p
      font-size: 1.4rem
      color: #fff
      line-height: 1.6

  .adv-image
    display: inline-block
    width: 400px
    height: 300px
    position: relative
    vertical-align: top
    top: 50%
    transform: translateY(-50%)
    img
      width: 100%

.tabsUl
  display: flex
  flex-direction: row
  justify-content: flex-start
  border-bottom: 1px #d3d9e5 solid
  margin: 0 20px

  li
  font-size: 1.4rem

  a
    display: inline-block
    padding: 30px 20px 10px

    &:hover, &.active
      color: #2481e3
      font-weight: 600
      border-bottom: 2px #2481e3 solid
      margin-bottom: -2px
      cursor: pointer


.tab-sub
  padding: 0 18px

h3.sub-title
  font-size: 1.6rem
  padding: 32px 0 14px 1rem
  &:before
    content: ""
    display: inline-block
    width: 0.4rem
    height: 1.6rem
    position: relative
    top: 0.3rem
    right: 0.8rem
    background: $tdcCommonBlue

.details-box
  padding: 50px 46px
  background: #fff
  border-radius: 0.4rem
  overflow: hidden
  font-size: 0

  .img-box, .text-list

  .img
    background-repeat: no-repeat
  .diagram
    width: 400px
    float: left
    display: inline-block

    img
      width: 100%

  .text-list
    margin-left: 400px

    li
      padding-left: 70px
      position: relative
      line-height: 2rem
      font-size: 1.2rem
      margin-bottom: 2rem

      p
        margin-top: 0
        margin-bottom: 1rem
        font-size: 1.2rem
        font-weight: 300
        text-align: justify

      h5
        margin-top: 0
        margin-bottom: 1rem
        font-size: 1.4rem

      h5:before
        content: ''
        display: inline-block
        width: 0.5rem
        height: 0.5rem
        position: absolute
        left: 4.5rem
        top: 0.7rem
        border-radius: 0.25rem
        background: $tdcCommonBlue

    .intent
      padding-left: 1rem

  .fl
    float: left

  .fr
    float: right

  .in-block
    display: inline-block

.details-box.text
  padding: 4.6rem 5rem

  .text-list
    overflow: visible
    li
      padding-left: 0
      width: 100%

      h5:before
        left: -2rem

.details-box.d
  .text-list
    margin-left: 0
    li
      h5:before
        left: -20px

.intro-table

  .row
    height: 98px
    display: flex

    .title
      width: 200px
      height: 98px
      line-height: 98px
      font-weight: 600
      text-indent: 40px
      color: #354052

    .ctn
      width: 680px
      padding-right: 120px
      display: flex
      align-items: center
      align-content: center
      line-height: 1.5

    .anchor
      width: 110px
      height: 98px
      line-height: 98px
      font-weight: 600
      color: #0066ce

