@import "../../../../../styles/util"

.search
  width: 840px
  margin-left: auto
  margin-right: auto
  font-size: 1.6rem

  input.search-field
    display: inline-block
    width: 712px
    height: 50px
    border: none
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    text-indent: 10px
    font-size: 1.4rem
    color: #354052
    vertical-align: top

    &:focus
      outline: none

  input.search-btn
    display: inline-block
    width: 116px
    height: 50px
    margin-left: -4px
    background: #0066ce
    color: #fff
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    border: none
    vertical-align: top
    &:hover
      cursor: pointer
    &:focus
      outline: none

.filter-search
  margin-left: 0

  input.search-field
    height: 32px
    width: 695px
    border: solid 1px $common-grey

    &:focus
      outline: none

  input.search-btn
    height: 32px
    font-size: 1.4rem


