
<relational-database-banner [productDetails]="productDetails"></relational-database-banner>

<div class="tab-box">

  <relational-database-tabs [productDetails]="productDetails"></relational-database-tabs>
  <div class="tab-sub">
    <relational-database-functionalities></relational-database-functionalities>
    <relational-database-advantages></relational-database-advantages>
    <relational-database-scenarios></relational-database-scenarios>
    <relational-database-component-intro></relational-database-component-intro>
  </div>
</div>
