



<div class="details-banner">
	<div class="slogans">
		<h3 class="title">数据分析与挖掘</h3>
		<p>
		数据分析平台为数据科学家提供了数据清洗、特征工程、建模平台以及工具集，用于构建数据分析、数据挖掘业务。共提供了60余种分布式机器学习算法和多种行业模型，方便从数据中发现蕴含价值，探索对象属性和行为之间的关系，将数据有效转换为助于企业运营的价值信息。
		</p>
	</div>
	<div class="adv-image"></div>
</div>

<div class="tab-box">
	<ul>
		<li><a routerLink="./functionalities" routerLinkActive="active" class="">产品功能</a></li>
		<li><a routerLink="./advantages" routerLinkActive="active">产品优势</a></li>
		<li><a routerLink="./scenarios" routerLinkActive="active">应用场景</a></li>
		<li><a routerLink="./component-intro/tdh-platform-products" routerLinkActive="active">组件介绍</a></li>
		<!-- 
			<li><a routerLink="./expense-explanation" routerLinkActive="active">费用说明</a></li> 
			-->
	</ul>
	<div class="tab-sub">
		<router-outlet></router-outlet>
	</div>
</div>