<h2>Dropdown</h2>

<section class="position-relative">
  <button class="flex-xy-center" tccBtn="primary" [tccDropdownTrigger]="dropdown" size="sm">
    <span>
      trigger
    </span>
    <svg tccIcon="angle-down" size="sm"></svg>
  </button>
  <tcc-dropdown #dropdown>
    <tcc-dropdown-item [class.active]="true">
      <a routerLink="/gallery/form">form</a>
    </tcc-dropdown-item>
    <tcc-dropdown-item>
      <a routerLink="/gallery/button">button</a>
    </tcc-dropdown-item>
  </tcc-dropdown>
</section>
