@import '../../../styles/util'

$tab-height: 40px
$margin-top: 30px
$margin-left-right: 20px
$docs-list-min-height: calc(100vh - #{$nav-height})
$docs-content-min-height: calc(100vh - #{$nav-height + $crumb-height + $tab-height + $margin-left-right})

.docs-list
  min-height: $docs-list-min-height
  background-color: $common-bg-color
  width: 1200px
  margin: 0 auto

  .tdc-tab
    height: $tab-height

.docs-content
  margin: $margin-top $margin-left-right 0 $margin-left-right
  border-radius: 4px
  background-color: #fff
  overflow: auto
  min-height: $docs-content-min-height
