.docs-list
  min-height: calc(100vh - 22.3rem)
  background-color: #F3F4F8

.docs-content
  margin: 3.5rem 2rem 0 2rem
  border-radius: 0.4rem
  background-color: #fff
  max-height: 50rem
  overflow: auto
  min-height: calc(100vh - 36.8rem)
